[2020-04-01 20:08] danmx opened #5 "Cached credentials are not checked when in legacy mode"
After following kube config the [conversion script](https://github.com/Azure/kubelogin#device-code-flow-interactive) I have updated `kubeconfig`:

[code]

After running a kubectl command and confirming my identity I have credentials stored in `~/.kube/cache/kubelogin/azure.json`.
When I tried to run another kubectl command and it asked me to confirm my identity again.

I tried to not use `--legacy

[2020-04-02 21:30] weinong commented on #5
thanks for reporting!

[2020-04-02 21:52] weinong opened #7 "add unit tests"
let's improve code coverage

[2020-04-03 17:32] #5 closed

[2020-04-03 18:47] weinong opened #9 "support multiple cached tokens"
support multiple cached tokens based on environment, serverID, clientID, tenantID, and legacy

[2020-04-03 20:26] #9 closed

[2020-04-03 20:30] danmx opened #12 "Homebrew integration"
It would be very useful to get a [homebrew](https://brew.sh/) integration

[2020-04-03 20:33] danmx opened #13 "Official container image"
An offcial container image would be great. I don't know if `kubelogin` can be used with AKS like `aws-iam-authenticatior` is used with EKS (node authentication) but I know use cases where people use container images for packaging their tooling.

[2020-04-06 06:28] lenisha opened #14 "add support for MI"
Support Managed Identity Token with kubelogin

[2020-04-07 20:48] weinong commented on #13
Can't you just download the binary in your Dockerfile? After all, it still needs kubectl and everyone has their own preference, no?

[2020-04-07 21:18] danmx commented on #13
I could but I would have to manage new versions too 😄

[2020-06-02 17:21] weinong commented on #14
i'm working on it now

[2020-06-02 20:24] #14 closed

[2020-07-13 08:28] aelmanaa opened #20 "Azure devops integration"
Hello,

thanks for this project. Is it foreseen to integration with "service connections" in Azure devops?
Our pipelines use kubectl tasks: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/kubernetes?view=azure-devops . These tasks use a "service connection". It would be nice if kubelogin becomes one of the "service connection" choices for kubernetes.

[2020-07-13 16:40] shigupt202 opened #21 "Unable to use Kubelogin with service principal login flow"
Hi! I'm trying to use the Service principal login flow to login to my AAD enabled connected cluster to enable non interactive login for [Azure/aks-set-context](https://github.com/azure/aks-set-context/) action. However, I've been getting this error:
[code]
Kubelogin works fine with interactive flow, but doesn't seem to work with service principals.
Also, I could not find any executables in the lat

[2020-07-21 23:42] tamilmani1989 opened #22 "Get AAD token using Client Certificate"
Kubelogin today supports getting AAD token using client id and client secret. The request here is to get AAD access token using client ID and certificate.

can support this adal api: `adal.NewServicePrincipalTokenFromCertificate`

[2020-07-21 23:56] weinong commented on #20
@TomGeske @palma21 WDYT?

[2020-07-21 23:59] palma21 commented on #20
@azooinmyluggage ^

[2020-07-22 00:00] weinong commented on #21
@shigupt202 have we discussed offline? Service Principal login support is determined in the backend. Since the current graph API call to get /getMemberGroups doesn't support Service Principal, the only way to support SPN is to configure Guard to skip Graph API call when there is no overage claim (e.g. your SP is in less than 250 AAD groups)

https://github.com/appscode/guard/blob/master/docs/guide

[2020-07-22 00:04] weinong commented on #22
You can try to make the PR. I can help you through the change.

I'd recommend overload the `-p` option like `az login --service-principal -u http://azure-cli-2016-08-05-14-31-15 -p ~/mycertfile.pem --tenant contoso.onmicrosoft.com` does and check if -p is a pem file or not.

[2020-07-22 05:07] shigupt202 commented on #21
@weinong I don't think we have. But, thanks for the clarification. I tried this by passing `--azure.graph-call-on-overage-claim=true` while configuring guard on my api server and it worked!

[2020-07-22 05:07] #21 closed

[2020-07-23 22:38] mohankpep opened #23 "SPN login not working using 0.0.4"
Hi,
I have a Azure AD enabled AKS cluster. I am trying non interactive login with a SP that has Cluster User role assigned to it. But when I execute via kubectl I get:

I0723 17:27:13.956018    6753 execCredentialPlugin.go:111] acquire new token
I0723 17:27:15.046242    6763 execCredentialPlugin.go:111] acquire new token
I0723 17:27:15.789685    6774 execCredentialPlugin.go:111] acquire new token

[2020-07-24 17:05] weinong commented on #23
do you use the new managed AAD or v1 AAD? SP is not supported on v1 AAD

[2020-07-27 08:39] shigupt202 commented on #20
@aelmanaa Could you please explain the scenario where you want to use kubelogin as a service connection? I think the three ways of creating a [kubernetes service connection](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#sep-kuber) in Azure Devops already cover all types of clusters.

[2020-07-27 09:15] aelmanaa commented on #20
@shigupt202  we arleady use "service account option". however this option has the following disadvantages:

- during the creation of a cluster, one has to foresee to manually create the service account and the role bindings (manual step)

-  service accounts are outside of AAD.  generally within an organization, we prefer to centrally manage an identity within AAD. There are already "service princ

[2020-07-27 09:45] shigupt202 commented on #20
@aelmanaa Thanks for the feedback! I'll get in touch with the PM's to discuss this feature request.

[2020-07-27 16:12] weinong commented on #23
my understanding based on offline conversation is that AADv1 cluster was used which is not supported as I stated earlier. closing the issue.

[2020-07-27 16:12] #23 closed

[2020-07-28 18:16] tamilmani1989 commented on #22
@weinong i will work on it.. isn't it pfx file?

[2020-07-28 20:06] weinong commented on #22
pfx and pem are just containers. in k8s and the rest of cloud native community, using pem is most common

[2020-07-28 23:23] weinong commented on #22
[code]

[2020-07-29 00:55] tamilmani1989 commented on #22
@weinong let me do similar to this .. is that fine? ihttps://github.com/ccojocar/adal/blob/5ff7a14d7c425e59a5b6019829423861ff47f26e/README.md#client-certificate

[2020-07-29 01:33] weinong commented on #22
yep. i can give you pointer to recognize pkcs12 or pem

[2020-07-30 21:59] tamilmani1989 commented on #22
im testing decoding pkscs12 and it looks like Deocde function of pkcs12 package ([link](https://godoc.org/golang.org/x/crypto/pkcs12#Decode) supports only if pfx has one cert and one key but cert generated by integrated authority in az key vault has more than 1 cert. So i wrote a modified decode function to retrieve required cert and key from pfx file and it worked. Looks like other ppl also hit t

[2020-08-10 19:44] DavidParks8 opened #24 "Publish to a package repository"
Can this please be published to packages.microsoft.com so apt install can be used to obtain it?

[2020-08-11 22:45] ocdi opened #25 "Separate downloads per platform"
Related to #24, I use Windows primarily and to solve https://github.com/lensapp/lens/issues/649 kubelogin was the perfect solution. I looked at the releases tab and aside from the source, a single zip is present. I almost glossed over this as a solution because there is no indication that the build artifact contains Windows, Linux and Mac binaries. It would be helpful to indicate it is for all pla

[2020-08-12 09:09] nohajc opened #26 "Static build for linux"
I noticed the linux binary from Releases is dynamically linked which makes it incompatible with some linux distributions such as alpine.

Of course, I can compile my own version but it would be very useful if the release version was already statically linked. Especially for use in lightweight docker containers.

Other Go tools such as kubectl are distributed as fully static binaries, so I assumed

[2020-08-17 16:20] MnrGreg opened #28 "'Kubelogin' project name collisions"
Packaging as a `krew` plugin would solve #25 and streamline the user experience. There are however some existing generic ODIC `krew` plugins and `Homebrew` repositories using the same name:

https://github.com/int128/kubelogin
https://github.com/Nordstrom/kubelogin

As this project is specific to Azure OIDC authentication, would it not be more appropriate to name as such? For example:
`azure-kubel

[2020-08-19 01:54] #26 closed

[2020-08-19 09:12] azooinmyluggage commented on #20
Ack. We will work on adding this support post Ignite.
Adding @anraghun to take this forward.

[2020-08-19 16:13] weinong commented on #25
@ocdi would it be helpful if we just add this to the release note?
[code]

[2020-08-19 16:53] weinong commented on #28
@MnrGreg thanks for helping out! I'd prefer `azure-kubelogin`. Thank you!

[2020-08-19 20:45] AleksandarTomicMs2 opened #30 "Kubelogin doesn't work correctly with MSI in Container Instances"
We're want to run run Kubernetes deployments from [Container Instances](https://azure.microsoft.com/en-us/services/container-instances/) with attached managed identities, but are hitting an issue with MSI authentication. We are running `kubelogin` in the [Managed Service Identity (non interactive)](https://github.com/Azure/kubelogin#managed-service-identity-non-interactive) setup, but after the ca

[2020-08-19 22:34] ocdi commented on #25
@weinong I think that would be helpful, only issue is I think it would be rare that anyone would download more than one platform at a time.

I am assuming the GitHub actions contains a zip action for the assets, just splitting into 3 zips would be great. I might have a crack at editing this and submit a pr if that's be helpful.

[2020-08-20 22:19] weinong commented on #30
chatted offline. your token coming from the IMDS endpoint in Container Instance somehow has `spn:` prefix, which will definitely fail at the AKS server side which expects `<app-id>`. We will need to follow up with Container Instance team.

[2020-08-20 22:19] #30 closed

[2020-08-21 01:55] #25 closed

[2020-08-26 19:55] weinong commented on #12
it's supported now

brew install Azure/kubelogin/kubelogin

[2020-08-26 19:55] #12 closed

[2020-08-26 20:19] weinong commented on #28
we just added homebrew support today
[code]

[2020-08-26 20:43] weinong commented on #24
it's supported in latest azure-cli
[code]

[2020-08-26 21:20] weinong commented on #28
i spent sometime reviewing `krew`. `krew` plugin is an extension of `kubectl` and is invoked using `kubectl [plugin-name]` pattern. I'm not sure if `kubelogin` is good fit or not.

[2020-08-26 22:28] DavidParks8 commented on #24
Will that command work in an airgapped cloud?

[2020-08-27 00:00] weinong commented on #24
@DavidParks8, no. please chat with me offline specifically for airgap cloud

[2020-08-28 11:04] jmcshane opened #34 "Kubectl exec plugin support for spn"
It doesn't appear that there is a way to configure the kubectl exec plugin when using spn for authentication. Are there updates required for this plugin to work? If this requires testing, I'm definitely willing to help out as I am building automated processes for spn authentication against AKS Managed AAD clusters.

[2020-08-29 14:41] alecor191 opened #35 "Can't get kubelogin to work with MSI"
I would like to run kubectl commands using a user-assigned managed identity against an AKS cluster.

### What I did
I have created a user-assigned managed identity (`az identity create`) that I would like to use to call `kubectl` commands against my AKS cluster (setup with Managed ID and managed AAD enabled, cluster version is 1.18.6). Here the steps I did to get the kubeconfig file updated using

[2020-08-29 19:26] gr4b4z commented on #35
Can you call `curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net' -H Metadata:true`?
Does it return a token? If not, probably the VM you are using doesn't have managed identity enabled.

[2020-08-31 18:46] weinong commented on #34
does https://github.com/Azure/kubelogin#service-principal-login-flow-non-interactive not work for you?

[2020-08-31 18:47] weinong commented on #35
as @gr4b4z mentioned, please try to curl the IMDS endpoint from within the VM. If that doesn't work, your VM probably doesn't have MSI attached.

[2020-09-01 17:48] alecor191 commented on #35
Thanks all! There was indeed an issue with MSI on my VM.

[2020-09-01 17:48] #35 closed

[2020-09-03 01:15] weinong commented on #34
@jmcshane did you have a chance to look at

[2020-09-09 11:40] adrianhallnhsd opened #38 "Linux platform binary in relevant archive type (gz)"
It would be nicer if the linux binaries were presented in tar.gz format to avoid having to install zip to extract them as they appear to be multiple entry zip archives.

[2020-09-24 12:25] infa-ssaurabh opened #39 "Kubelogin Managed Service Identity doesn't work with rolebinding"
I have test kubelogin with Managed Service Identity with below scenario:
1. Created ClusterRoleBinding with group as MSI Object ID --> It works as expected
2. Created RoleBinding inside namespace with group as MSI Object ID --> Get below error:
Error from server (Forbidden): pods is forbidden: User "$OBJECT-ID" cannot list resource "pods" in API group "" in the namespace "default".
Role and Rolebi

[2020-09-24 15:54] weinong commented on #39
in your role binding, you should use `kind: User`

[2020-09-25 01:09] weinong commented on #34
please re-open if above doc doesnt work for you

[2020-09-25 01:09] #34 closed

[2020-09-25 01:10] #22 closed

[2020-09-29 07:55] infa-ssaurabh commented on #39
Having `kind: User` worked. Closing the issue.

[2020-09-29 07:55] #39 closed

[2020-10-13 09:46] advancedwebdeveloper opened #40 "Undefined reference to: gccgoRealSyscall, gccgoRealSyscallNoError, reflect.typelinks, reflect.resolveTypeOff, reflect.typelinks (gollvm)"
Hi.

I caught such bugs:

I am using

and my here is my environment:

CC @ianlancetaylor @thanm @cherrymui

[2020-10-13 22:48] ianlancetaylor commented on #40
To fix the undefined references to `'gccgoRealSyscall` and the like, they need to update to a newer version of golang.org/x/sys.

It looks like github.com/modern-go/reflect2 added partial gccgo/GoLLVM compatibility in revision ce5cf29be307ab6039519b733b1861dde5f61c40 which is not included in version 1.0.1.  I don't know whether upgrading to a newer version of that package will help or not.

[2020-10-14 09:54] advancedwebdeveloper commented on #40
CC @tamilmani1989 @weinong @ocdi @TomGeske
People, please explain the situation.

reflect2 is no more maintained.
it is recommended to get rid of that decency package ASAP.

[2020-10-15 00:37] weinong commented on #40
just curious, why do you need to build it yourself?

[2020-10-15 12:57] advancedwebdeveloper commented on #40
I was searching for bugs (mainly incompatibility issues).
There is no pre-built releases, for gollvm, for Azure SDK.
And to [generate](https://go.googlesource.com/gollvm/#seetheir) some LLVM IR output, from your package.

[2020-10-15 12:58] advancedwebdeveloper commented on #40
@weinong , would you handle this?

[2020-10-15 16:59] weinong commented on #40
can you give it a try?
https://github.com/weinong/kubelogin/tree/go-mod-update

[2020-10-16 17:28] advancedwebdeveloper commented on #40
@weinong , here is what i tried.
I cloned your repo - and performed

. All files under ./pkg folder are compiling without any bugs.

However there is an issues with main.go:

$ go run main.go
# command-line-arguments
./main.go:17:25: error: reference to undefined name 'v'
That's an obvious reference into [https://github.com/Azure/kubelogin/blob/master/main.go#L17](https://github.com/Azure/kubelogi

[2020-10-16 17:54] advancedwebdeveloper commented on #40
Consider switching to [go-reflect](https://github.com/goccy/go-reflect)

Please investigate [this ](https://github.com/json-iterator/go/issues/501) - could be of help.
CC @goccy

[2020-10-27 11:55] aelmanaa commented on #20
thanks  @azooinmyluggage

[2020-11-03 00:22] adrianwyatt opened #41 ""parameter 'identityResourceID' cannot be empty" when using default MSI"
Logging in with type "MSI" (i.e. `-l msi`) later fails with `parameter 'identityResourceID' cannot be empty`. These commands are being run on an Azure VMSS with a system-assigned identity.

Repro commands:
1. `az login --identity`
2. `az account set -s {subscription}`
3. `sudo az aks get-credentials --resource-group {resourceGroup} --name {clusterName} --overwrite-existing`
4. `sudo kubelogin conv

[2020-11-03 00:30] adrianwyatt commented on #41
Perhaps the check of `p.identityResourceID == ""` [here ](https://github.com/Azure/kubelogin/blob/master/pkg/token/msi.go#L47) is improper? That would make it fall through to `NewServicePrincipalTokenFromMSIWithIdentityResourceID`

[code]

[2020-11-03 04:15] haitch commented on #41
can you paste the kubeconfig? you can trim off the sensitive part

[2020-11-05 00:48] smithago opened #43 "Signed version of kubelogin.exe"
Can we get a signed version of kubelogin.exe, we are only allowed to use signed binaries and exe in our production systems.

[2020-11-05 23:35] #43 closed

[2020-11-05 23:35] smithago commented on #43
Won't need it in prod anymore.

[2020-11-09 21:41] haitch commented on #41
@adrianwyatt @weinong  can we close this issue?

[2020-11-09 21:49] adrianwyatt commented on #41
Looks good to me - thank you.

Sent from my phone.
________________________________
From: Haitao Chen <notifications@github.com>
Sent: Monday, November 9, 2020 1:41:26 PM
To: Azure/kubelogin <kubelogin@noreply.github.com>
Cc: Adrian Bonar <Adrian.Bonar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/kubelogin] "parameter 'identityResourceID' cannot be empty" when using def

[2020-11-23 10:18] mohanish12 opened #46 "Unable to use kubelogin with SPN"
Hi,

I create a clusterrolebinding in my cluster for SPN giving it admin role at k8s level.
after that I used kubelogin and ran the below commands
kubectl convert-kubeconfig
set AAD_SERVICE_PRINCIPAL_CLIENT_ID = <>
set AAD_SERVICE_PRINCIPAL_CLIENT_SECRET = <>

after that when I am trying to use
kubectl get nodes
kubectl get pods
its giving below error
error: you must be logged into the server(unau

[2020-11-23 17:23] weinong commented on #46
what do you put in the cluster role binding? SP's client ID or object ID? you need the latter.

[2020-11-24 08:54] mohanish12 commented on #46
@weinong : I am using the SP object ID in the cluster role binding

[2020-11-24 18:15] weinong commented on #46
i think you missed `-l spn`
[code]

[2020-12-08 19:08] manojampalam opened #47 "Proposal: kubeConfig contract for mandating PoP access tokens"
Would like to propose the following contract in kubeConfig for a cluster that mandates access tokens with proof of posession (PoP) semantics.

[code]

##### --with-pop
To indicate that the returned token should be of type "pop" conforming to [SHR](https://tools.ietf.org/html/draft-ietf-oauth-signed-http-request-03>) format with API server's host name (conveyed via _provideClusterInfo_) captured as

[2020-12-14 19:09] vanpyrzericj opened #48 "Cluster RollBindings do not work w/ Service principal login flow (non interactive)"
I followed the instructions in the _Service principal login flow (non interactive)_ section, and I am able to successfully run `kubelogin convert-kubeconfig -l spn` and set the environmental variables as instructed. Upon trying to execute _any_ command such as `kubectl get no` or even `kubectl get namespace`, I receive the following error:

`Error from server (Forbidden): nodes is forbidden: User

[2020-12-14 20:08] #48 closed

[2020-12-15 18:03] weinong commented on #48
I suppose you have figured it out? :)

[2020-12-16 03:44] ssbkang commented on #48
@vanpyrzericj would you be happy to share how you have solved this problem, please? I have encountered the same and pretty much lost at the moment

[2020-12-16 17:41] weinong commented on #48
@ssbkang that's not good! what issue did you encounter? if you are on kubernetes slack, you can reach me there with the same handle

[2020-12-20 20:19] ssbkang commented on #48
@weinong thanks for your reply! I pretty much faced the same problem as this issue described. The SPN `ClusterRoleBinding` definitely has been created but wasn't able to run any `kubectl` commands. I was complaining the SPN had no permissions

[2020-12-21 19:31] weinong commented on #48
@ssbkang did you use sp's object ID in role binding?

[2020-12-21 19:48] ssbkang commented on #48
@weinong yes I have

[2021-01-15 14:27] cvdsande opened #49 "kubelogin convert-kubeconfig -l spn prompts for interactive login"
Maybe I'm not following the directions correctly, but I'm prompted for an interactive login when using
[code]

Environment is set
[code]

Kubeconfig
[code]

[2021-01-26 02:33] weinong commented on #49
I guess when you run `kubelogin convert-kubeconfig -l spn` the `KUBECONFIG` env variable wasn't set.
your kubeconfig will need to look something like this
[code]

[2021-01-28 19:22] RosarioVinoth opened #50 "Support for AKS cluster created with managed identity"
Hi,

Will there be support for AKS cluster created with managed identity (--enable-managed-identity ) instead of service principle ?  in this case <AAD server app ID> doesn't exist.

[2021-01-28 23:06] weinong commented on #50
Having Service Principal (SP) or Managed Service Identity (MSI) is orthogonal to AAD feature. The AAD feature configures the cluster to use AAD for authentication whereas SP and MSI determine how the cluster interact with Azure (like when you expose a Kubernetes Load Balancer type service)

[2021-01-31 10:13] RosarioVinoth commented on #50
Thanks for the help & support.

[2021-01-31 10:13] #50 closed

[2021-02-02 23:55] CecileRobertMichon opened #51 "README is AKS specific"
The README has a lot of AKS references but no examples for unmanaged clusters. This is a plugin for all Kubernetes clusters on Azure, not just AKS, README should reflect that.

examples of AKS specific mentions in README:

In addition, it would be good to add a generic set up guide that doesn't assume AKS AADv2 doing everything for you, kind of like https://github.com/kubernetes/kubernetes/blob/ma

[2021-02-03 00:33] weinong commented on #49
please reopen if issue persists!

[2021-02-03 00:33] #49 closed

[2021-02-03 00:34] weinong commented on #46
please reopen if issue persists!

[2021-02-03 00:34] #46 closed

[2021-02-04 15:01] yvespp commented on #30
@weinong was this issue ever resolved? We are running into the exact same problem...

What I noticed is that when the container runs under root (which also happens randomly but is probably an issue of our CI) the `aud` claim has no `spn:` prefix and kubectl works.

[2021-02-04 17:33] weinong commented on #30
@yvespp what issue are you seeing? token from IMDS should not have `spn:`. What you described is an expected scenario.

[2021-02-05 08:05] yvespp commented on #30
I'm doing this:
[code]
The token looks like this:
[code]
If I try to use the token it returns this:
[code]

But when the ACI container runs as root (which sometimes randomly happens), the `spn:` prefix is not there and the token works...

The cluster uses the newer AKS-managed AAD integration.

[2021-02-05 17:10] weinong commented on #30
while I'm following up with ACI internal team, can you also open a support request so that we can gather more detail? please send me the SR# via aks-help at service.microsoft.com with reference to this issue.

[2021-02-09 09:15] yvespp commented on #30
@weinong was able to get hold of ACI engineering team. The issue is due to the library in one of their ACI infrastructures. They expect to complete the new infra migration around end of March.

Thanks again @weinong for you help!

[2021-02-10 13:14] skythet opened #52 "Kubectl authorization failing with timeout error in the Docker based Azure App Service"
I'm using Docker based Azure App Service as a Azure Devops deployment agent for reaching our private network. In this app service enabled [Identity](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#add-a-system-assigned-identity) and I want to use this identity for accessing AKS.

In AKS granted ClusterAdmin role for this identity:

[code]

After configurati

[2021-02-10 22:41] skythet commented on #52
Pull request merged to master branch

[2021-02-10 22:41] #52 closed

[2021-02-11 15:37] #41 closed

[2021-02-17 21:07] pdefreitas opened #55 "Support password field for PKCS certificates or PEMS"
Current implementation decodes PKCS12 with empty password, however there are flows where the PFX might be password protected.

https://github.com/Azure/kubelogin/blob/master/pkg/token/serviceprincipaltoken.go#L89

Another thing thing I've noticied is that it should be pretty straight forward to also support PEMs (just like the Azure CLI supports).

https://github.com/Azure/kubelogin/blob/master/pk

[2021-02-20 00:34] weinong commented on #55
ack. Would you be able to contribute the change? Or you can wait for me but it may take several weeks. :)

[2021-03-12 13:42] jullianoacqio opened #56 "Unauthorized when authenticate in with kube login service principal."
I am using a main service to authenticate with the Kubernetes API in an environment of continuous integration.
My cluster is set up and enabled to integrate with Azure AD and everything works fine for over a year.
Currently I created a main service that has permission `Azure Kubernetes Service Cluster User Role` to my AKS.
Right at the azure cli normally and I can get kubeconfig to start interacti

[2021-03-13 00:15] weinong commented on #56
As stated at https://github.com/Azure/kubelogin#service-principal-login-flow-non-interactive, Service Principal login is supported for Managed AAD on AKS. You can migrate your AAD cluster to managed AAD, though.
https://docs.microsoft.com/en-us/azure/aks/managed-aad#upgrading-to-aks-managed-azure-ad-integration

[2021-03-13 00:15] #56 closed

[2021-03-13 00:30] weinong commented on #51
@CecileRobertMichon is it sufficient to just update https://github.com/Azure/kubelogin#features with products? e.g.

## Features

- `convert-kubeconfig` command to converts kubeconfig with existing azure auth provider format to exec credential plugin format
- [device code login](<#device-code-flow-(interactive)>), **supported for AKS Legacy AAD, AKS Managed AAD, CAPZ**
- [non-interactive service p

[2021-03-13 00:30] weinong commented on #13
closing the issue and will reconsider if there is more demand

[2021-03-13 00:30] #13 closed

[2021-03-13 00:31] weinong commented on #28
closing the issue since it's staled for a long time

[2021-03-13 00:31] #28 closed

[2021-03-13 03:10] dhirschfeld opened #58 "Question regarding use-cases"
Sorry for opening an issue for a usage question - I'm not sure if there's a better forum? [GitHub Discussions](https://docs.github.com/en/discussions) don't seem to be enabled here.

In any case, if I wanted to connect `kubectl` to our AAD enabled AKS cluster I would (naively?) think to create a manged identity, assign it the [AKS RBAC Writer](https://docs.microsoft.com/en-us/azure/role-based-acce

[2021-03-14 18:32] weinong commented on #58
good call on setting up discussion! I just enabled it!

your scenario would work, if you want to run it within a pod on a cluster. In fact, this scenario would **require** kubelogin, as `kubectl` doesn't support any other login but `device code`. So the steps are:
* run the pod with container image including kubelogin binary and setup aad pod identity and all that
* az login --identity
* az aks ge

[2021-03-14 21:16] dhirschfeld commented on #58
Ah, right - that's the part I wasn't quite getting. Thanks a lot for the info - I'll go ahead and close as answered!

[2021-03-14 21:16] #58 closed

[2021-04-02 19:43] pdefreitas commented on #55
#54 will do it for my use case.

[2021-04-06 19:52] weinong commented on #55
nice! closing this issue then

[2021-04-06 19:52] #55 closed

[2021-04-21 19:11] rajdhandus opened #61 "convert-kubeconfig -l azurecli : You must be logged in to the server (the server has asked for the client to provide credentials)"
I am trying to use kubelogin from CI system and I am facing the following error while trying to authenticate.

[code]

The cluster is AAD RBAC enabled and has MSI as well.

Here is the script that executes az cli comands followed by kubelogin

[code]

[2021-04-22 16:15] weinong commented on #61
@rajdhandus as discussed offline, you are hitting ACI issue that needs migration. Let me know if you need further assistance. thanks!

[2021-04-22 16:15] #61 closed

[2021-04-22 16:32] weinong opened #62 "[MSAL Migration] device code flow is not supported in Managed Device in Conditional Access"
The limitation is documented [here](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/require-managed-devices#known-behavior).

The fix is to adopt [auth code grant flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow)

Sample code: https://github.com/Azure/azure-sdk-for-go/blob/master/sdk/azidentity/interactive_browser_credential.

[2021-04-28 15:49] weinong commented on #62
pending on token cache feature in https://github.com/Azure/azure-sdk-for-go/issues/6602

[2021-07-28 11:09] MaximilianKaltner opened #65 "139 round_trippers.go:174] CancelRequest not implemented by *exec.roundTripper"
I try to use Azure CLI token login (non interactive) from jenkins pipeline to login to AKS with non interactive but got the following error:

[code]
Who can help? Is there something missing?

[2021-07-29 01:57] weinong commented on #65
can you try -v=5 to see where kubectl was stuck? did it happen all the time?

[2021-07-29 06:06] MaximilianKaltner commented on #65
Yes, it happens all the time. Same commands from local machine works fine and can connect to kubernetes cluster successfully, but running on jenkins which is also applied on azure brings the error above. Could this be a proxy problem?!

Here is the result with -v=5:

`[Pipeline] sh
+ export 'KUBECONFIG=/root/.kube/config'
[Pipeline] sh
+ kubelogin convert-kubeconfig -l azurecli
[Pipeline] }
[Pipel

[2021-07-29 06:10] weinong commented on #65
i believe the problem is your HTTPS_PROXY. since api-server TLS certificate is issued by cluster CA, it's not trusted by your proxy. Can you remove the proxy and try?

[2021-07-29 06:57] MaximilianKaltner commented on #65
Thanks for your help. I need HTTPS_PROXY, but I added NO_PROXY variable with value ".hcp.westeurope.azmk8s.io" then it works fine!

[2021-07-29 07:42] #65 closed

[2021-07-30 01:52] edbergavera opened #67 "v0.0.10 returns 404 not found"
We encountered an issue today in our build pipeline. The build script installs the `kubectl` as part of `az aks install-cli`. However, the latest version seems to be not available yet at the time of this posting. The following link returns 404.

https://github.com/Azure/kubelogin/releases/download/v0.0.10/kubelogin.zip

[2021-07-30 02:09] weinong commented on #67
sorry that it impacted your pipeline. i cut the release only to find out the darwin/arm64 build won't work with go 1.13 so that i had to drop that release. I'm cutting v0.0.10 again shortly

[2021-07-30 02:14] weinong commented on #40
closing staled issue

[2021-07-30 02:14] #40 closed

[2021-07-30 02:17] weinong commented on #67
it's been released!

[2021-07-30 02:17] #67 closed

[2021-08-23 01:33] markszabo opened #69 "Using the same AAD app for server and client"
The old [Azure Active Directory plugin](https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth/azure#usage) describes using two AAD application, and the same approach seems to be applicable to kubelogin too based on the `--server-id: <AAD server app ID>` and `--client-id: <AAD client app ID>` parameters.

For AKS clusters one is fixed:

however for non-AKS clusters (e.g. EKS) i

[2021-08-24 18:11] weinong commented on #69
Hi @markszabo , I'd not recommend using those pair of AAD app for non-AKS clusters as your scenario may be impacted if there is any change to these AAD app configuration (e.g. token format). It's harder to comment on whether there is any security concern as the verification of the token is your server's responsibility.

[2021-08-25 00:17] markszabo commented on #69
Thanks @weinong ! Does this mean that kubelogin only supports AKS clusters?

Btw I'm using an [EKS cluster configured to use AAD as an OIDC IDP](https://szabo.jp/2021/08/21/how-to-setup-azure-ad-with-aws-eks-kubernetes-clusters/) which is similar to configuring a self-managed k8s cluster with the `--oidc-issuer-url` and `--oidc-client-id` flags for the API server.

[2021-08-25 00:27] weinong commented on #69
you can still use kubelogin for any k8s with AAD. Just need to use your own AAD applications. It'd be appreciated if you can help update the doc here once you sort out the configuration!

[2021-08-25 00:42] markszabo commented on #69
I'm sorry, I believe I wasn't clear about which AAD applications I meant. So this is my current setup:

1. Create a new Azure AD Enterprise Application and corresponding App Registration. Configure it to have the `Allow public client flows` checked. Take a note of the directory (tenant) ID as `$AAD_TENANT_ID` and the application (client) ID as `$AAD_CLIENT_ID`
2. Configure the kubernetes API serve

[2021-08-25 01:25] weinong commented on #69
Oh, I see. Sorry that I misunderstood it. What you describe is just fine in the oidc world. What's configured in AKS is webhook authentication which is more like OAuth Authorization flow such that Server app has its credential to make Graph api query to find out your AAD groups. So if it's uncommon to have more than 200 groups in your organization, the generic oidc provider from k8s would work.

h

[2021-08-25 12:39] markszabo commented on #69
Awesome, thank you very much! Considering that there was an other issue about limited non-AKS documentation (https://github.com/Azure/kubelogin/issues/51), I think documenting this information would be useful. If you agree, I'm happy to summarize this and send a PR. Do you have any preference on where this info should go? I'm thinking about a new section to the readme, titled something like `Non-A

[2021-08-31 07:28] markszabo commented on #69
Thanks for the help, I'll close this now.

[2021-08-31 07:28] #69 closed

[2021-09-09 14:51] jiayanginfor opened #71 "Access is denied to move temporary token to desired output location"
I am using Kubelogin plugin and run command `kubelogin convert-kubeconfig -l azurecli` to refresh aks token. but got the following error:

![image](https://user-images.githubusercontent.com/79306996/132708832-37d9cfd5-f17f-427f-94ba-cad586ea79a4.png)

Any direction on how I can grant the permission or any insight on the issue?

It does successfully refresh the aks token but sometimes the kubectl c

[2021-09-17 19:16] julie-ng commented on #20
In case someone else runs into this problem, this is how I ended up doing it.

It works but I agree with @aelmanaa and would prefer if there were a built-in ADO Task to handle this.

### Summary
- my AKS cluster setup
  -  AAD integrated
  - local accounts are [_disabled_](https://docs.microsoft.com/en-us/azure/aks/managed-aad#disable-local-accounts-preview)
  - apps are namespaced
- YAML
  - crea

[2021-09-17 19:18] julie-ng commented on #20
Use case - I disabled local accounts per https://docs.microsoft.com/en-us/azure/aks/managed-aad#disable-local-accounts-preview

[2021-10-12 21:36] dnozay opened #72 "Please publish checksums / sha256 with releases"
Hello,
it would be great if there were checksums available directly so we can validate during download.

e.g. additional assets:

- kubelogin-darwin-amd64.zip.sha256
- kubelogin-darwin-arm64.zip.sha256
- kubelogin-linux-amd64.zip.sha256
- kubelogin-win-amd64.zip.sha256
- ...

e.g. compare to `oidc-login` assets.
https://github.com/int128/kubelogin/releases/tag/v1.24.0

Thank you!

[2021-11-12 01:32] weinong commented on #69
@marratj I'd recommend using https://github.com/kubeguard/guard as the authentication webhook server. In fact, it's used by AKS as well. Let me know if you have issue configuring it.

[2021-11-12 01:39] weinong commented on #71
@ITHedgeHog can you describe your environment plz? can you repro this all the time?

[2021-11-26 13:38] sharebear commented on #20
To be honest this doesn't need a new service connection, there is already an Azure Resource Manager service connection that gets you most of the way, just need to configure kubelogin correctly.

As things stand right now I have no idea what the use case is for the Azure DevOps KubernetesV1 task configured with Azure Resource Manager connection type and useClusterAdmin set to false (the default). I

[2021-11-29 09:50] ITHedgeHog commented on #71
Hi @weinong yes, I'm using KubeLogin on Windows 10 Professional it is ran during the process of using garden.io against an RBAC enabled Azure Kubernetes instance, it is not a constant issue it happens perhaps 4 or 5 times a day.

I have confirmed this happens less frequently when I just run manual kubectl commands which invoke KubeLogin.

[2022-01-19 22:13] nlighten commented on #20
@julie-ng Thank you for the very useful write-up.

When I use an ARM Service Connection with MSI on an agent with `kubelogin` preinstalled the following just works:

[code]

However, if I try to use the `HelmDeploy@0` and `Kubernetes@1` tasks that effectively do the same as second task with `kubectl` and `helm` commands, it does not work and I get (for the helm case):
[code]

[code]

I created iss

[2022-01-20 07:21] sharebear commented on #20
@nlighten `connectionType: None` does not appear to be a valid connection type in the documentation https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/kubernetes?view=azure-devops

I dived into the code a few months back and the Kubernetes and Helm tasks appear to always create their own custom kubeconfig file based upon the defined service connection https://github.com/microsoft

[2022-01-20 07:59] nlighten commented on #20
@sharebear I agree that `None` is not a documented connection type but it actually works for both tasks. The kubeconfig file is not created in that case (see https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/src/helm.ts#L41) and a pre-existing kubeconfig file is used.

So if I do an `kubectl aks get-credentials` with `--admin` (no kubelogin) using `connectionType: N

[2022-01-20 10:18] sharebear commented on #20
@nlighten

TIL ... althought on a quick skim I don't see similar code in the Kubernetes task, the code isn't _that_ easy to follow.

In that case, what's your error message? I had a problem where I had forgotten to actually enable AzureRBAC on the AKS cluster, and it's not very visible in the portal, so might be worth verifying that.

[2022-01-20 10:53] nlighten commented on #20
@sharebear Thank you for thinking with me.

In the Kubernetes task the switch is here: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/KubernetesV1/src/clusterconnection.ts#L59

The error I get is:
[code]
So kubelogin apparently fails with exit code 1. Full task logs can be found at: https://github.com/microsoft/azure-pipelines-tasks/files/7900774/logs.zip

RBAC and AKS-manage

[2022-01-20 21:22] nlighten commented on #20
It was indeed caused by AzureCLI@2 doing `az account clear` at the end. If I use plain bash and an explicit login/logout everything works as expected in combination with a MSI:

[code]

Still, I would prefer explicit support for kubelogin as part an ARM Service Connection on the Kubernetes and HelmDeploy tasks.

@sharebear  Thanks for your time.

[2022-01-20 21:40] sharebear commented on #20
@nlighten Sorry I stopped replying there, got caught up in the day-to-day work.

Great that you were able to work it out, it's helped me develop my understanding too... I went with a "service account" based solution when I disabled the local admin account, but still keeping my eyes open for better solutions.

I do wonder though, as you are using msi, what's the motivation for using azurecli auth i

[2022-01-21 07:29] nlighten commented on #20
@sharebear I actually missed the `-l msi` option (rtfm). It works and results in a slightly more elegant:

[code]

[2022-01-21 07:43] sharebear commented on #20
@nlighten Great... now, as far as I understand it, the contents of the kubeconfig after you've run `kubelogin convert-kubeconfig -l msi` are pretty static and will only change if/when you [rotate the cluster certificates](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation).

Does it then make sense to move it into a [service connection with kubeconfig](https://docs.microsoft.com/en-us

[2022-01-21 09:12] nlighten commented on #20
@sharebear

I would prefer not. We rotate cluster certificates every 3 months and also rebuild clusters quite frequent. With moving it into the Kubernetes Service  Connection I would still need to update the Service Connection after each certificate rotation or rebuild.

In my mind something like `kubelogin: msi` option as part of the HelmDeploy and Kubernetes Task when using `connectionType: Azur

[2022-01-21 09:35] sharebear commented on #20
Fair enough. We manage the service connections through terraform https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_kubernetes so I think I could automate this.

I completely agree on this point, what we're discussing is still a workaround for something that should work out of the box. Especially when it's [recommended to disable local accounts](htt

[2022-01-21 11:00] julie-ng commented on #20
@sharebear @nlighten have you considered using gitops? Because you're walking a slippery path and depending on your requirements, from a security perspective, it would be more straight-forward with less gaps to just have the cluster pull in the changes.

That being said, let me explain what concerns me about this discussion. Keep in mind I work for MSFT but am not part of the AKS product group.

#

[2022-01-21 11:37] sharebear commented on #20
1. I've inherited a shared pipeline that is used by ~60 developers practicing continuous deployment, it's been stable and working well for them for a long while. While I do want to change this, as there's one big DX feature I can't implement on DevOps Pipelines, I've got lower hanging fruit to pick first. Such as removing local accounts from the clusters.
2. Assuming practicing Infrastructure as C

[2022-01-21 11:59] nlighten commented on #20
@julie-ng Thank you for sharing your thoughts. To add to @sharebear feedback:

Yes, but AFAIK this currently only covers K8S resources and not yet Azure resources (not considering [Azure Service Operator](https://github.com/Azure/azure-service-operator)  which does not seem to be production ready yet).

Perhaps to explain a little bit the background of my experiments with kubelogin: we are looking

[2022-01-21 14:23] julie-ng commented on #20
@sharebear - being pragmatic about your options is practical. I think that way too. But on this part I disagree:

_Are you sure?_ Check your `~/.kube/config` and see also https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens

I haven't used all the different methods, for example certs for authentication. But my understanding and my personal kubeconfig is ful

[2022-01-21 16:01] nlighten commented on #20
@sharebear is correct. The only thing that is in the kubeconfig is the cluster public cert and the config to delegate the token retrieval to kubelogin. For an MSI this looks like:

[code]

Agreed. That is we are considering dedicated 'deployment' agents that cannot be used for builds. Deployment agents are restricted to a single team/subscription. It also gives us more control over the whole 'appl

[2022-01-22 08:27] julie-ng commented on #20
@nlighten cool, thanks for sharing the example config. I've never used kubectl with msi. I'm overly cautious and just assume certs and tokens are in there :P

Haha, simple? Not really. You'd need a team to maintain it. A large insurance company has those resources, i.e. dedicated teams with dedicated people for maintaining patches, people's feature/software requests, etc. If not, it's overrated in

[2022-01-25 21:10] lknite opened #74 "Unable to authenticate the request due to an error: [invalid bearer token, oidc: verify token: failed to verify signature: failed to verify id token signature]"
Hello, everything on the kubelogin side looks to be working perfectly.

Not having much luck with the above error which I am getting in the kube-apisever log.

I can see there is a parameter --oidc-ca-file which is probably what I need.  Where I am at we have security which rewrites SSL.  I have the ca-bundle for those, which had to be installed to worker nodes in order to successfully pull images

[2022-01-26 21:20] weinong commented on #74
are you using k8s oidc feature? did you look at https://github.com/Azure/kubelogin#setup-for-kubernetes-oidc-provider-using-azure-ad ?
tagging @markszabo since he has done something similar before

[2022-01-26 23:42] lknite commented on #74
yes, that's what I'm doing

[2022-01-27 19:57] lknite commented on #74
Installed kubelogin by unzipping a release and copying kubelogin to /usr/local/bin, also did a symlink to kubelogin called kubectl-oidc_login.

If I run kubelogin standalone it gets a token as expected:
[code]

/etc/kubernetes/manifest/kube-apiserver.yaml
[code]

.kube/config, modified current context
[code]
.kube/config, modified current context
[code]

[2022-01-27 21:46] lknite commented on #74
If I copy the token I'm getting back into jwt.io everything looks right except at the bottom, where it says Invalid Signature.  hmm

[2022-01-28 01:34] markszabo commented on #74
Your error message seems to say that the API server failed to validate the signature. It gets the public key from `oidc-issuer-url=https://sts.windows.net/c5<redacted>81/` to do the verification, so maybe it can't get that key. I remember that some tools broke because `sts.windows.net` had an unexpected certificate chain (never figured out the details though). So could you try to `curl https://sts

[2022-01-28 01:42] weinong commented on #74
+1

[2022-01-28 16:35] lknite commented on #74
Thank you, via the well-known url I'm getting back that it is an invalid tenant.  Troubleshooting ...

[2022-01-28 19:01] lknite commented on #74
The url does work from within a pod.  I put the url into a web browser and downloaded the public certificate, then appended the base64 encoded version to the ca file being passed to the kube-apiserver.  Restarted the kube-apiserver in case that was needed.  Still seeing the same error.

[2022-01-29 02:28] weinong commented on #74
you don't need to download the certificates from AAD. Have you tried to configure your client app with Public Client App?

[2022-01-29 06:33] lknite commented on #74
My coworker set up the client in azure.  I'm trusting they did so correctly but it would be OK to verify things are correct.  Since running kubelogin on its own gets a token, I figured it is setup correctly.

Sent with a Spark
On Jan 28, 2022, 7:28 PM -0700, Weinong Wang ***@***.***>, wrote:

[2022-01-29 06:48] markszabo commented on #74
I don't think this changes anything, but there is an extra `/` at the end of your URL in `--oidc-issuer-url=https://sts.windows.net/c5<redacted>81/` compared to the [kubernetes docs](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server).

After restarting the API server, could you check the logs for any message about calling this URL or obtaining the o

[2022-01-30 05:19] lknite commented on #74
The kube-apiserver log initially had an error about the '/' saying that the configured issuer didn't match the issuer in the token.  In the token the issuer does have a '/' so I went back to the api server and added the '/', afterwards the error went away and the new one in the original posting appeared.  ```[invalid bearer token, oidc: verify token: failed to verify signature: failed to verify id

[2022-01-31 18:34] lknite commented on #74
***
App Registrations

1. add new application
2. click 'authentication' at the left and click 'Allow public client flows', click 'Save'
3. click 'token configuration' at the left, click 'add groups claim', click 'Security groups'
   expand ID, Access, and SAML and click 'sAMAccountName' for each, click 'Add'
4. do not add a secret, kubernetes does not have an oid-client-secret option

***
Test usi

[2022-01-31 18:34] #74 closed

[2022-02-01 16:12] Gearheads opened #75 "Build kubelogin for linux/arm64"
Helllo:

Would we be able to release this binary for `linux/arm64` architecture?

Currently, I see we only have the following:
- kubelogin-darwin-amd64.zip
- kubelogin-darwin-arm64.zip
- kubelogin-linux-amd64.zip
- kubelogin-win-amd64.zip

My team uses this binary as dependency for another project, and we would like to start supporting ARM64 architecture, such that the following URL resolves:
http

[2022-02-01 16:28] djtje12 opened #76 "Inject groups:scr1 objects through graph api call in JWT"
Hi, we are currently using kubelogin to authenticate against Azure AD and then use the JWT groups claim to authenticate against an EKS cluster in AWS.

Currently we have no Assignment required restrictions on the enterprise application, this way everyone from our organization can get a valid JWT token by using kubelogin. We do this because this saves us quite the administrative hassle of adding ad

[2022-02-03 16:52] wiceywkus commented on #76
kubelogin cannot modify the JWT.  The tokens are digitally signed by Azure.  Changing it will break the checksum and the validation.

[2022-02-03 17:39] wiceywkus opened #77 "Is there existing work to switch kubelogin from MS ADAL to MSAL library"
With the MS ADAL library going out of support in June, is there work already underway by someone to switch from the ADAL to the MSAL libraries?

[2022-02-03 23:23] weinong commented on #75
@Gearheads We can certainly do that, and we are open to any contribution as well! You can use #64 as a reference!

[2022-02-03 23:25] weinong commented on #76
As much as I like the proposal, kubelogin is just a recipient of the AAD token and there is no way we can modify that. There are other projects such as https://github.com/kubeguard/guard that can address this limitation. If you need help in that regard, let me know. Otherwise, closing this issue for now

[2022-02-03 23:25] #76 closed

[2022-02-03 23:26] weinong commented on #77
This is on our radar. That being said, it's mostly waiting for the readiness of azure sdk for go + msal for go, which hasn't been fully integrated yet last time I checked.

[2022-02-04 01:49] weinong commented on #77
hmm, looks like msal for go is integrated now https://github.com/Azure/azure-sdk-for-go/issues/14920

[2022-02-04 13:37] wiceywkus commented on #77
Check out this library: https://github.com/AzureAD/microsoft-authentication-library-for-go

[2022-02-04 15:20] Gearheads commented on #75
ok great! thank you for the information. I will start looking into it.

[2022-02-04 19:39] weinong commented on #77
https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/58
https://github.com/Azure/azure-sdk-for-go/issues/6602#issuecomment-1030290807

[2022-02-04 19:39] weinong commented on #62
https://github.com/AzureAD/microsoft-authentication-library-for-go/issues/58
https://github.com/Azure/azure-sdk-for-go/issues/6602#issuecomment-1030290807

[2022-02-04 19:40] weinong commented on #77
closing this as a dupe of #62

[2022-02-04 19:40] #77 closed

[2022-02-04 20:26] weinong commented on #62
https://github.com/Azure/azure-sdk-for-go/issues/16643

[2022-02-11 17:34] #75 closed

[2022-02-11 18:49] #72 closed

[2022-02-11 22:54] weinong opened #79 "kubelogin may not work with MSI when run in Azure Container Instance"
## Problem
Although `kubelogin` addresses https://github.com/kubernetes/kubernetes/issues/86410 to remove `spn:` prefix in `audience` claim, you may encounter the same issue while using `kubelogin` with Managed Service Identity (MSI) in Azure Container Instance (ACI).

For example
[code]

The issue is in ACI where they have different infrastrucutres such that the returned MSI token on legacy one w

[2022-02-16 00:14] weinong commented on #62
adapter between ADAL and AzIdentity
https://github.com/jongio/azidext/blob/master/go/azidext/azure_identity_credential_adapter.go

[2022-02-22 18:31] ITHedgeHog commented on #71
This is the log I get when running it through garden.io

Command "C:\Users\D.Taylor\.garden\tools\kubectl\31792c5c
85bbb074\kubectl.exe --context=oem-deployed
--namespace=oem-production apply --output=json -f -"
failed with code 1:

Error: unable to write to token cache:
C:\Users\D.Taylor/.kube/cache/kubelogin/AzurePublicCloud-
6dae42f8-4368-4678-94ff-3960e28e3630--.json, err: failed
to move tempo

[2022-03-18 16:30] hakabo opened #80 "kubelogin not respecting kubeconfig environment variable"
kubelogin v0.0.11, psversion 7.2.0 core, windows 10.

I expected that when $env:kubeconfig is set, kubelogin would respect the kubeconfig environment variable in the same way that kubectl does.

Test:
[code]
This results in a new config file being created at %userprofile%\\.kube\config but I was expecting the config file at $env:kubeconfig to be updated.
If $env:kubeconfig is not used/set, kubectl

[2022-03-30 20:52] ITHedgeHog commented on #71
This is becoming more and more of an issue for our developers and is happening multiple times per day, I'm happy to explore writing the fix myself (Perhaps retrying the caching?) if it is necessary - I'd just like some direction from one of the authors on how to resolve this.

We use kubelogin as part of Garden.io, so there are concurrent kubectl requests going on as it synchronises bits of our sy

[2022-03-31 23:20] weinong commented on #71
Definitely looking for contribution!

[2022-04-01 06:37] weinong commented on #80
I will look into the fix next week. For now, though, can you try `kubelogin convert-kubeconfig -l azurecli --kubeconfig $env:kubeconfig`?

[2022-04-09 21:49] ITHedgeHog commented on #71
I'm currently testing a fix for this issue, I'm going to run it at work for a few days to check it actually functions correctly.

[2022-04-15 20:03] #71 closed

[2022-04-21 19:57] azooinmyluggage commented on #20
Adding @vijayma

[2022-04-25 19:30] larryclaman commented on #20
I've been able to build out a proof of concept to this problem of the ADO kubernetes tasks not supporting kubelogin.  Going to put it here and describe how it works.   It's based on info gathered from earlier in this discussion.

Prereqs:

- I'm using an AKS cluster with AAD integration and I’ve disabled local accounts.  This is per the best practice guidelines for enterprise aks deployments.
- I'

[2022-05-10 12:46] evenh opened #87 "Support converting a single cluster in a kubeconfig file"
It would be nice if kubelogin supported converting a single cluster in a kubeconfig file, and let the other cluster configurations be as-is to reduce the blast radius.

[2022-05-18 12:08] hakabo commented on #80
Sure, I gave it a shot but no joy..

[code]

In my test, kubelogin is looking in the userprofile, rather than at $env:KUBECONFIG

[code]

Appreciate your help on this - thanks

[2022-05-18 18:41] anmathew commented on #80
Could you please show `$env:KUBECONFIG`  right before `kubelogin.exe convert-kubeconfig  -l azurecli`?

[code]

[2022-05-19 04:49] anmathew commented on #80
Could you please display `$env:KUBECONFIG` before and after `kubelogin`?

Example:

[code]

[2022-05-19 05:33] hakabo commented on #80
Sure, hope this helps.

[code]

[2022-05-19 16:55] anmathew commented on #80
Thank you!

[issue80.zip](https://github.com/Azure/kubelogin/files/8732278/issue80.zip)
Can you please try a custom `kubelogin.exe` build in the attached zip and provide its output? Feel free to mask sensitive info if any, in my case it produces output as in the screenshot:

![buildk](https://user-images.githubusercontent.com/37632871/169354940-769fd5d5-2bfb-4c61-a21b-8c91bd0e3460.png)

[code]

[2022-05-19 18:18] JohnGalt1717 opened #88 "Add Installation Instructions for Windows (and everything other than Mac!?!)"
Why exactly are there only instructions for brew?

This should be on winget and instructions should be added ASAP. (and az cli should install it automatically)

[2022-05-19 22:47] anmathew commented on #80
This is interesting:
`Error: unable to load kubeconfig: open C:\Users\hakabo\.kube\config: The system cannot find the path specified.`
Wonder if this is similar to https://github.com/docker/for-win/issues/2406

Let's see if your `$env:KUBECONFIG` exists and if we can stat that file from `kubelogin.exe`. As before, could you please try the `kubelogin.exe` in the attached zip file and provide the ou

[2022-05-19 23:20] anmathew commented on #87
Hi @evenh, what is the behavior you're expecting?

- Use `--cluster` to denote the name of the kubeconfig cluster to convert?

[2022-05-20 11:29] evenh commented on #87
That's exactly the behaviour I would like to see 👍🏻  Couldn't find that as a supported use case in the code or docs.

[2022-05-23 12:13] hakabo commented on #80
I must admit, I was a little confused as to what you wanted me to test. I've done my best below, please let me know if that isn't sufficient.
From my POC, it seems that if the USERPROFILE\.kube directory doesn't exist, then the kubelogin command fails. Even though, the config file is not located there.

[code]

[2022-05-23 18:50] anumsft commented on #80
Thank you!
[code]
Seems like it is changing `$env:KUBECONFIG` file after all?

Please try these and let's look at the output:
[code]
We are
1.  making a copy of your `$env:kubeconfig` as `$env:kubeconfig".old"`,
2.  running the `kubelogin.exe` and
3.  finally examining the diff between `$env:kubeconfig`  and `$env:kubeconfig".old"`

PS: Please mask any sensitive info if posting output publicly.

[2022-05-23 19:16] hakabo commented on #80
I'll give that a try when i get back to the machine in the morning. Until then..

The config file was changed, but this is only after the following was run
`new-item -path $env:USERPROFILE\.kube -type directory`

Prior to that, we get
`Error: unable to load kubeconfig: open C:\Users\hakabo\.kube\config: The system cannot find the path specified.`
despite kubelogin being called with the following
`

[2022-05-23 20:31] anumsft commented on #80
I noticed that, but I am still unable to recreate that behavior on my end. Please see the attached screenshot, I am able to execute `kubelogin.exe` even if ` $env:USERPROFILE\.kube` does not exist:
![23432432](https://user-images.githubusercontent.com/68245133/169898599-3f1c0007-80b9-441e-aec3-719b45f2d5a5.PNG)

Could you please copy the `.exe` and your `KUBECONFIG` to another host and see if it e

[2022-05-24 00:32] anumsft commented on #88
For Windows, the easiest way probably is to ` az aks install-cli`
![cli_kubelogin_windows](https://user-images.githubusercontent.com/68245133/169924897-0738fc6a-2176-44b0-8659-04ecb29e26d1.PNG)

Will add this to the readme.

[2022-05-24 12:06] JohnGalt1717 commented on #88
Not sure why it can't update the path automatically or if not at least prompt to do it for you? All these apps that endlessly require path updates by hand is super anoying.

[2022-05-26 23:32] weinong commented on #80
let's close it. please reopen if you have repro steps!

[2022-05-26 23:32] #80 closed

[2022-05-28 03:18] tkent opened #89 "Why aren't the common SDK environment variable names used?"
The environment variables used here are different than those used by the other MSFT SDKs ([dotnet](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.environmentcredential?view=azure-dotnet), [golang](https://docs.microsoft.com/en-us/azure/developer/go/azure-sdk-authentication?tabs=bash), [java](https://docs.microsoft.com/en-us/azure/developer/java/sdk/identity-azure-hosted-auth))

All of

[2022-06-03 02:55] weinong commented on #89
nope. there is no reason for that! I think it's at best to support both so that we don't regress existing users. Would you consider to contribute the changes?

[2022-06-03 05:05] anmathew commented on #88
WinGet doesn't yet support standalone executables: https://github.com/microsoft/winget-cli/issues/182

[2022-06-03 13:20] JohnGalt1717 commented on #88
That's what installers are for that would also update the path automatically.

[2022-06-05 09:32] leotsarev opened #90 "Provide winget package"
subj

[2022-06-07 03:12] tkent commented on #89
ATM, I don't have time to contribute patches to this project. I've already accounted for this inconsistency in our pipelines, but believe it would save other MSFT customers time as they move over to `kubelogin` from the currently-defaulted and soon-to-be depreciated `az-login` [aks#2728](https://github.com/Azure/AKS/issues/2728).

[2022-06-07 17:09] weinong commented on #89
no problem. we will look into this later this month or next month

[2022-06-13 07:37] liamfoneill opened #91 "Still Getting Deprecation Warning after installing AKS CLI"
I'm nearly certain this is user error so apologies in advance.

I have an AKS cluster running 1.23.5. I can auth to it fine after running az aks get-credentials. However I keep getting the warning when I run any Kubectl commands as follows:

![image](https://user-images.githubusercontent.com/1243172/173303001-ead945a5-d131-45d3-978f-7078607b0ff8.png)

I have installed the AKS CLI and added both th

[2022-06-13 20:41] anumsft commented on #90
We will implement winget once it supports standalone executables. https://github.com/microsoft/winget-cli/issues/182

[2022-06-17 09:00] liamfoneill commented on #91
Actually it's okay. I didn't realise I had to convert my Kubeconfig and now the warning is gone
![image](https://user-images.githubusercontent.com/1243172/174265226-049eac2e-fe57-46a0-b667-48054245d979.png)

[2022-06-17 20:07] weinong opened #92 "device login should exit gracefully when interactiveMode: Never (no tty)"
ref: https://github.com/kubernetes-client/python/issues/1787

when `KUBERNETES_EXEC_INFO.spec.interactive: false` and login mode is `devicelogin`, `kubelogin` should return error.

[2022-07-01 07:06] gyuvaraj10 opened #93 "Kubelogin is not able to convert the kubeconfig to azurecli format for 1.24.0 AKS cluster"
Step Performed:
1. az login
2. az aks get-credentials -g "abc" -n  "def"
3. kubelogin convert-kubeconfig -l azurecli

Actual config in the .kube/config file
[code]

Expected Config:
[code]

**Environment (please complete the following information):**
 -  Kubectl Client CLI Version - 1.24.1
 - Kubernetes version [e.g. 1.24.0]
 -  Kubelogin -
  git hash: v0.0.13/52e83a071f39e9e039e95aa9a6fbea04855ea

[2022-07-05 21:56] slnowak commented on #93
+1, discovered same issue today after upgrading to 1.24.0

[2022-07-06 02:10] weinong commented on #93
since 1.24.0, AKS default returns exec format kubeconfig so that it doesn't actually need kubelogin conversion. currently, kubelogin's `convert-kubeconfig` sub command doesn't do anything unless the kubeconfig is pre 1.24 format using azure auth. one can argue that `convert-kubeconfig` should probably convert the exec format as well to support different login method.

[2022-07-06 02:38] weinong commented on #93
@gyuvaraj10, the kubeconfig you got from 1.24 cluster should be as good unless you require to use azurecli login?

[2022-07-06 03:34] gyuvaraj10 commented on #93
@weinong I like to connect to cluster and run some commands (example: 'kubectl get nodes') with in a CI pipeline. So, I want to connect to the cluster in non-interactive mode.  Can you suggest the approach for the non-interactive communication to the cluster if kubelogin doesn't support.

[2022-07-06 06:27] weinong commented on #93
@gyuvaraj10 how would azurecli mode help? do you use a service principal to login?

[2022-07-06 11:28] slnowak commented on #93
Azurecli can be use in a non-interactive mode, as per https://github.com/Azure/kubelogin#azure-cli-token-login-non-interactive

[2022-07-06 16:15] AshokPadarthi commented on #93
@weinong if we are performing az cli authentication using SPN and get the config using SPN then expectation would be that Kubectl commands execution happens non-interactively which is not the case. its asking us to sign in (SPM is meant for M2M)

Even though the  config is downloaded in the context of authenticated SPN, the EXEC has property --login with value "devicecode" which is leading to inte

[2022-07-07 17:12] anmathew commented on #93
Hi,
Please try with `v0.0.14 release` and let us know if this can be closed.

[2022-07-08 14:30] davidbgonz commented on #93
Just recently updated kubelogin. On a 1.22 AKS cluster, convert-kubeconfig for azurecli is no longer working for me. The command runs fine, but any kubectl command I get the deprecation warning message as if I never ran the convert command.

[2022-07-08 19:19] davidbgonz commented on #93
You are getting the same result as on my end.
[code]
The behavior prior to updating was after running `kubelogin convert-kubeconfig -l azurecli` I no longer needed to authenticate through the browser and the warning message went away. I'm guessing this is due to the change in the kubeconfig.

[2022-07-08 19:24] weinong commented on #93
@davidbgonz i'm not following. are you saying you are still being prompted to login after converting to azurecli using 0.0.14? Would you mind sharing the converted kubeconfig? you can omit the fqdn and CA to make it generic

[2022-07-08 19:44] davidbgonz commented on #93
@weinong That was the case, but actually I just got it working again. There was some funny business going on with my config.

The steps I ran:
- deleted my config
- added back one my clusters using the `az aks get-credentials` command
- ran `kubelogin convert-kubeconfig -l azurecli` again

I am not sure why the config file got in such a state. I also had to remove a leftover config.lock that would

[2022-07-08 19:48] weinong commented on #93
@davidbgonz no problem. If you encounter the issue consistently, please open a new issue with the kubeconfig before and after conversion.

[2022-07-08 19:48] #93 closed

[2022-07-08 19:55] davidbgonz opened #95 "Version command returns null values"
I noticed that when I run `kubelogin --version` that this is the output:
[code]
I tested this with both 0.13 and 0.14 and I get the same result. What information would be most beneficial for you for debugging?
[code]

[2022-07-08 19:57] weinong commented on #95
how did you install it?

[2022-07-08 20:12] davidbgonz commented on #95
I installed it through the Arch AUR. These are the build steps outlined in the PKGBUILD. Just dug into the Makefile for the package, you're good. I need to bring this up with the maintainer of the AUR package. I'm 2 for 2 today with opening my mouth before digging a little deeper lol

[2022-07-08 20:12] #95 closed

[2022-07-09 01:14] #51 closed

[2022-07-11 14:06] dion-gionet opened #98 "Unable to run kubelogin convert-kubeconfig multiple times"
Since the latest([v0.0.14](https://github.com/Azure/kubelogin/releases/tag/v0.0.14)) release, we have been unable to run `kubelogin convert-kubeconfig` multiple times as it gives the error `Error: "spn" is not supported yet`. It works if we use the previous [v0.0.13](https://github.com/Azure/kubelogin/releases/tag/v0.0.13) release.

We run the command for every cluster that we authenticate to thro

[2022-07-11 16:26] weinong commented on #98
got it. we can add this back today. However, you can simply use -l azurecli that uses the SP you already logged in.

[2022-07-11 19:47] dion-gionet commented on #98
I see, thanks!

[2022-07-13 16:09] wiceywkus opened #101 "Handle scenario where Azure AD user changes password"
When users change their password (which of course we all do on a regular basis and ensure uniqueness and complexity), kubelogin will fail and return errors such as:
`E0713 11:43:46.581167   13628 azure.go:154] Failed to acquire a token: unexpected error when refreshing token: refreshing token: adal: Refresh request failed. Status Code = '400'. Response body: {"error":"invalid_grant","error_descrip

[2022-07-13 16:35] weinong commented on #98
@rlee85 what is broken in your scenario?

[2022-07-13 16:35] weinong commented on #98
@rlees85 what is broken in your scenario?

[2022-07-14 13:45] rlees85 commented on #98
[code]

[2022-07-14 13:51] JiayangZhou opened #102 "The kubectl commands become significant slower when using kubelogin"
In AKS, we started to get warnings such as below:
![image](https://user-images.githubusercontent.com/47085823/178996615-32899a92-9aab-484d-881c-92adb65892ce.png)

So we adopted kubelogin by running the below commands: `kubelogin convert-kubeconfig -l azurecli`, which is non-interactively login to AKS. And then every time we run a kubectl command, we can feel a delayed response time. The issue is g

[2022-07-15 08:16] JiayangZhou commented on #102
Ran a test with this bash script:
[code]

and the result is:
<html>
<body>

dev aks + non-interactive | 12 | 33 | 11 | 10
-- | -- | -- | -- | --
dev aks + interactive | 9 | 7 | 9 | 8

</body>
</html>

[2022-07-15 22:17] #98 closed

[2022-07-15 23:31] weinong commented on #102
@JiayangZhou kubelogin caches token from azurecli, and the first invocation may be slower than the rest. In my testing below, it seems reasonable, albeit my cluster is very empty.

[code]

[2022-07-17 17:54] kkizer opened #104 "Azure CLI Login Method Does Not Work Properly with AAD Enabled AKS Clusters and Multiple Deployment Service Principals"
# Azure CLI Login Method Does Not Work Properly with AAD Enabled AKS Clusters and Multiple Deployment Service Principals

## Overview

We are deploying applications to Azure Active Directory (AAD) enabled clusters and are required to use kubelogin. Since these are automated deployment pipelines we cannot have interactive logins. We deploy using Azure service principals so we need to use the [Azure

[2022-07-18 15:04] kkizer commented on #104
It looks like the option token-cache-dir should work, but kubeloging doesn't accept it as a valid option.

[2022-07-18 16:15] weinong commented on #104
@kkizer looks like I missed this arg when I refactor the conversion code from exec to exec.. will fix it today

[2022-07-18 16:41] kkizer commented on #104
Yes please! Then we can specify that in our pipelines and not have to manually edit the converted cluster configuration file. When would a new kubelogin be available for me to try out? Asking because I may need to do a temporary hack an update the converted cluster configuration file. We have a lot of deployment pipelines stepping on each other now.

[2022-07-18 18:05] weinong commented on #104
@kkizer working on it. should have a PR out soon

[2022-07-18 18:32] anmathew commented on #102
Can you please time kubelogin invocations too?

[code]
replace wrapper as kubelogin:
[code]
Run your `kubectl.sh`:

[code]
See report on kubelogin runs:
[code]

[2022-07-18 20:15] weinong commented on #102
@JiayangZhou, you can add -v 5 to get the timestamp of each api call kubectl makes. I'm pretty sure the latency is from these api calls, instead from kubelogin.

[2022-07-18 20:16] weinong commented on #104
@kkizer do you want to give it a try before I cut the release?

[2022-07-18 20:54] weinong commented on #101
@wiceywkus you mean to have kubelogin detect the issue and clean up the cache automatically?

[2022-07-19 00:42] wiceywkus commented on #101
and trigger a (re)login flow.

[2022-07-19 08:02] mkilchhofer opened #106 "Ability to use terraform style variables for SPN auth"
Hi there 👋

We at @swisspost really like kubelogin. Would it be possible to implement a method to use it during a terraform run and reusing the env variables set for the terraform-provider-azurerm:

Are you open for such a feature (PR)?

/xref:
- https://github.com/hashicorp/terraform-provider-kubernetes/issues/1753

[2022-07-19 09:42] JiayangZhou commented on #102
@weinong

<html>
<body>
<p style="margin: 0px; padding: 0px; color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: norm

[2022-07-19 09:52] JiayangZhou commented on #102
@anmathew

I followed your instructions under WSL, not sure how to do it from Windows, but here is the result:

[code]

cannot replicate the latency issue from WSL

[2022-07-19 10:13] JiayangZhou commented on #102
Quoting: https://github.com/Azure/kubelogin/issues/102#issuecomment-1185297464

<html>
<body>
<p>I updated the kubelogin release version used in Win11 to the latest via here <a href="https://github.com/Azure/kubelogin/releases">https://github.com/Azure/kubelogin/releases</a></p>
<p>and run some tests in the same dev cluster in quoted reply:</p>

dev aks + non-interactive (kubelogin convert-kubecon

[2022-07-19 11:54] kkizer commented on #104
Thank you very much for your quick support on this issue. I am working on getting it tested in our environment today. I will post a comment with test results.

[2022-07-19 12:22] kkizer commented on #104
The fix does exactly what we need.

In my Azure DevOps pipeline I get the cluster configuration using az aks-getcredentials and convert it using:
kubelkogin convert-kubeconfig -l azurecli --token-cache-dir $(Agent.TempDirectory)

and the cluster configuration file contains:
[code]

It has the token-cache-dir argument!

We still need to test the change with multiple builds on the same build machine

[2022-07-19 18:02] weinong commented on #106
Hi @mkilchhofer, although I am welcome to any contribution, adding TF specific env var will bloat up the env var supported in kubelogin. There is already a complaint about inconsistent use of env var among other SDK in #80.
Besides, the fix in TF will be more generic and valuable, I think

[2022-07-19 19:12] anmathew commented on #102
Can we try to tell how many seconds it took for `kubectl` and  for `kubelogin`?

change your `run()`  from https://github.com/Azure/kubelogin/issues/102#issuecomment-1186021812 to:
[code]

run with [wrapper](https://github.com/Azure/kubelogin/issues/102#issuecomment-1188078180) in place,

[code]

looking for an output like:

[code]

[code]

In the above example,  most of the time (3 seconds) was f

[2022-07-20 07:59] wvanasten opened #107 "Segmentation fault in converter"
I have been having trouble getting the config converter to work. It always segfaults, with what looks like a null pointer and afterwards it silently "succeeds", because of the lock file.

[code]

I had been noticing this when using the program, but this morning I noticed it also fails when running the converter test (Which luckily seems to notice the lock file and no longer silently succeeds on th

[2022-07-20 08:04] mkilchhofer commented on #106
It's not related to TF itself. Its implemented in the AzureRM provider of TF which I assume is also a Microsoft product like kubelogin ;-)

So what do you suggest? I thought about a toggle like `--use-azurerm-env` which would use different envs for initializing the spn login method.

[2022-07-20 11:28] kubermihe opened #108 "--token-cache-dir broken in kubelogin-linux-amd64"
Hi,

we use kubelogin to connect to our on-premise kubernetes cluster, like it's described on https://github.com/Azure/kubelogin#setup-for-kubernetes-oidc-provider-using-azure-ad . It works very well and authentication works.

After successful authentication, the .json-file is saved in the working-directory, where i'm located during the login process and not in `~/.kube/cache/kubelogin`. When i no

[2022-07-20 12:13] kasingal commented on #108
Same on Windows 10 as well.. !
It creates `AzurePublicCloud-6dae42f8-4368-4678-94ff-3960e28e3630--.json` in current working directory if not present instead it should pick it from default **~/.kube/cache/kubelogin** or custom cache dir as per **--token-cache-dir** param

[2022-07-20 14:13] mkilchhofer opened #109 "Missing env for "AAD tenant ID" in `spn` login method"
Hi

When using `spn` login method, the following arguments are required:
- `--client-id` (also available as an env)
- `--client-secret` (also available as an env)
- `--server-id`
- `--tenant-id` (only available as env when using `msi` login method)

I think we should move the env outside the conditional and rename the variable to a generic name

[code]

Is this a valable feature request? I'd file

[2022-07-20 16:07] weinong commented on #107
you have to use go 1.17 for now. I haven't merged the PR using 1.18

[2022-07-20 16:24] weinong commented on #104
actually v0.0.16 introduced a bug such that `--token-cache-dir` passed to `get-token` would not be effective as reported in #108

[2022-07-20 16:25] weinong commented on #108
it's a bug. i just realized that i mixed up different versions of kubelogin when i tested v0.0.16. will fix it!

[2022-07-20 20:02] #108 closed

[2022-07-21 01:27] weinong commented on #107
@wvanasten can you give #96 a try?

[2022-07-21 06:30] wvanasten commented on #107
@weinong Yes, it works with #97.

As an aside: It appears that (one of?) the tests actually modifies the config file located in `~/.kube`.

[2022-07-22 01:18] #106 closed

[2022-07-22 01:18] #109 closed

[2022-07-23 02:24] weinong commented on #107
fixed by #97 and #113

[2022-07-23 02:24] #107 closed

[2022-07-23 02:26] weinong commented on #104
@kkizer you should upgrade to v0.0.17 or higher. the `--token-cache-dir` wasn't really being used in actual token acquisition. I think it worked out for you as your build workspace is different

[2022-07-23 02:26] #104 closed

[2022-07-25 04:37] SergeiDavydov commented on #20
Hi @larryclaman,

Essentially, there is no need to export SPN credentials as you can retrieve aks credentials and convert cubeconfig with kubelogin in one go:
[code]

Could you elaborate on the last task? Does it imply that cubeconfig has to be converted with kubelogin first and then to be pasted to the service connection?

Thanks.

[2022-07-25 17:20] kkizer opened #114 "Using kubelogin with Terraform Helm Provider"
We would like to use Terraform to provision AKS clusters and use the [Helm provider](https://registry.terraform.io/providers/hashicorp/helm/2.6.0) to install Helm charts in those clusters. All of our AKS clusters have Azure Active Directory (AAD) enabled and local Kubernetes accounts are disabled.

It looks like the [exec plugins](https://registry.terraform.io/providers/hashicorp/helm/latest/docs#

[2022-07-25 17:57] weinong commented on #114
i think you have a typo? it should be `--server-id` instead of `--serverid`.

[2022-07-25 18:09] kkizer commented on #114
Well, that is embarrassing! That fixed it. Thank you very much for your quick response. Closing the issue.

[2022-07-25 18:09] #114 closed

[2022-07-25 19:34] weinong opened #115 "Add platform information to kubelogin --version"
platform is useful when people report issues.

[2022-07-25 20:28] devon-whil opened #116 "private cluster with public FQDN"
I created a cluster with terraform using the following options:
[code]
This resulted in a public FQDN that resolves to the private IP of the cluster, which looks like this: `.hcp.westus3.azmk8s.io`
Kubelogin is trying to use the private FQDN, which looks like the following and gives me a no such host error:
`.privatelink.westus3.azmk8s.io`
I have a VPN connection to the vnet, so if I can get past

[2022-07-25 21:22] weinong commented on #116
@devon-whil I'd suggest you open an issue under https://github.com/Azure/AKS/issues as what you are asking is for AKS to return a kubeconfig using `privateFqdn` in the kubeconfig. Once opened there, I can forward the issue to the PM/Dev

[2022-07-26 00:12] #115 closed

[2022-07-26 01:06] levimm commented on #116
we already have that feature to return kubeconfig with public fqdn, with an extra cli arg --public-fqdn.

[2022-07-26 01:44] devon-whil commented on #116
@levimm You're right, thank you! That solves my problem. Apologies all around for the noise, closing now.

[2022-07-26 01:44] #116 closed

[2022-07-28 10:02] goenning opened #119 "can kubelogin be used to generate the context/cluster/user? or does it just convert existing entries?"
We're using AKS with AAD and the way I used kubelogin was:

- Followed the "Connect" instruction on AKS, which essentially uses the `az aks get-credentials` command which creates the context with the azure auth plugin.
- I then use kubelogin to switch to AZ CLI auth, which works great!

But is there an option to use kubelogin directly and skip the first command? Something like `kubelogin setup --r

[2022-07-28 16:16] weinong commented on #119
Hi @goenning if you are reconstructing the kubeconfig using kubelogin, don't you also need ca bundle and fqdn? where would they come from? Why not just check in the converted kubeconfig into repo?

[2022-07-29 08:13] goenning commented on #119
Yeah, we considered doing that as well. But we found yesterday that Azure Portal Liv logs also require `Azure Kubernetes Service Cluster User Role`, so I guess there's no way to avoid that. But on the other hand, this role doesn't seem to give any special permissions, I initially thought this was a special shared user account, but it's still Azure AD at the end.

[2022-07-29 08:13] #119 closed

[2022-07-31 16:46] weinong commented on #102
@JiayangZhou, is slowness observed on WSL2, WSL1, or Windows 11?

[2022-07-31 16:55] JiayangZhou commented on #102
Hi, @weinong it’s only observer on Win11 for me.

[2022-08-01 11:32] JiayangZhou commented on #102
Hi @anmathew The delayed response is not presented on a Linux-like system, any way to `tell how many seconds it took for kubectl and for kubelogin` on Windows system?

[2022-08-02 01:32] pearj commented on #98
I've found that `-l azurecli` doesn't work with aks clusters across multiple tenancies, only one tenancy works then the others say `error: You must be logged in to the server (Unauthorized)`

[2022-08-02 02:02] weinong commented on #98
@pearj it's addressed in the latest release

[2022-08-02 14:35] WilliamDahlen opened #121 "Kubelogin converted k8s configs drops AzurePublicCloud-*.json files containing my token in current dir"
Hi,

Ive encountered a wierd problem. I don't know if it is kubelogin who is the culprit. It might aswell be az-cli or kubectl itself, but ill start here.

When running kubectl commands anywhere on my system the combination of kubectl, kubelogin and az-cli creates a file in the current directory containing my azure token in the following format:

Filename: AzurePublicCloud-<longstring>--.json

[co

[2022-08-02 17:30] weinong commented on #121
@WilliamDahlen it's a bug in that release. Please upgrade to the latest. I should have pulled that bad release!

[2022-08-02 19:49] WilliamDahlen commented on #121
Thanks! Ill verify and close the issue tomorrow.

[2022-08-03 08:16] WilliamDahlen commented on #121
Works as expected with new version. Closing issue.
[code]

[2022-08-03 08:16] #121 closed

[2022-08-04 01:06] anmathew commented on #102
@JiayangZhou  perhaps give https://github.com/anmathew/timeIt a whirl and see if it helps you to measure your execution times? I created it up with this use-case in mind.

[2022-08-09 16:42] cezapata opened #123 "AzureCLICredential Error on kubelogin v0.0.19"
I have an Azaure Devops pipeline that uses an AAD managed identity to work alongside kubelogin's AzureCLI non interactive token login option.

An excerpt of how it is configured is:

[code]

Since version 0.0.19 came out, we have been getting an error: **AzureCLICredential: ERROR: Tenant shouldn't be specified for managed identity account**

[code]

Because of the timing and the nature of the chan

[2022-08-09 17:16] weinong commented on #123
Since kubelogin has no knowledge how azure cli is logged in with, i think the solution is simply disregard the tenant ID from input kubeconfig during the conversion. If overriding the tenant ID for different tenant is desired, add `--tenant-id` in conversion. For example,
[code]

[2022-08-10 09:28] pearj commented on #123
@weinong thanks for the heads up.
I guess a limitation of this new approach is that you need to run `convert-kubeconfig`
after every `az aks get-credentials`, because if you run it at the end it will use the same tenantid for all clusters. I suppose an alternate solution could be a flag that just says to use the tenant id that is in kubeconfig. But this solution is fairly useable, so probably not

[2022-08-10 16:00] weinong commented on #123
fixed in v0.0.10

[2022-08-10 16:00] #123 closed

[2022-08-11 11:39] zen-dog opened #125 "`kubelogin convert-kubeconfig` does not support running concurrently with itself"
We have a scenario where we need to run multiple `kubelogin convert-kubeconfig --login azurecli --kubeconfig /some/randomized/kubeconfig` concurrently. However, some of the files are not converted and what's worse, there are no errors either.

[2022-08-16 01:20] anmathew commented on #125
Any specific info that would be helpful in issue repro would be much appreciated.
- How many kubeconfig files?
- The files that are not converted, are they all of the same `Login method` than the others?
- If you try with a few copies of the same file, are they all converted?
[code]

- if you serialize, does it behave differently?
[code]

[2022-08-16 10:29] zen-dog commented on #125
We run into the racy behaviour with 6 files already.

Yes, they're all the same. Just different AKS clusters really

It's kind of hard to test this in our environment. Essentially, we call `az aks get-credentials... -file /random/kubeconfig` for different clusters to get the credentials and then `kubelogin convert-kubeconfig...` them in a script that does the above steps concurrently in goroutines

[2022-08-23 08:51] mpowrie commented on #88
My $0.02 to install kubelogin and add it to the Windows path in one scriptlet:
`az aks install-cli
$targetDir="$env:USERPROFILE\.azure-kubelogin"
$oldPath = (Get-ItemProperty -Path 'Registry::HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Manager\Environment' -Name PATH).path
$oldPathArray=($env:Path) -split ';'
if(-Not($oldPathArray -Contains "$targetDir")) {
    write-host "Adding $

[2022-08-23 17:49] kkizer opened #127 "Password hard coded to blank when authenticating SP using a certificate"
In the "Spn login with pfx certificate" scenario, you can specify the path to the certificate using the --client-certificate argument. However, you cannot specify the password used in the PFX to encrypt the private key. A new parameter is needed to allow the password and can default to blank (to keep the current behavior).

[2022-08-25 12:39] JiayangZhou commented on #102
Thank you @anmathew tried timeit but encountered an issue on Windows https://github.com/anmathew/timeIt/issues/2

[2022-08-25 14:36] DaleyKD opened #129 "AzureCLICredential: exec: "C:\\WINDOWS\\cmd.exe": file does not exist"
Windows 10 21H2
PowerShell 7.2.6

Installed Azure\kubelogin by exec `az aks install-cli`. It's currently version `0.0.20`.

[code]

This is how I prepared everything.
[code]

Finally, I just want `kubectl` to get me a version number.
[code]

**Not sure why it's looking for cmd.exe in the root of Windows?**

(Omitted some for brevity, such as `C:\Windows\servicing\LCU\Package_for_RollupFix~31bf3856

[2022-08-25 15:01] DaleyKD commented on #129
I copied cmd.exe to my WINDOWS directory and it worked... but I'm only going to keep it there temporarily.

[2022-08-30 22:11] weinong commented on #129
@DaleyKD from [this code](https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/azure_cli_credential.go#L116) it's using the `cmd.exe` to invoke the az cli. I'm guessing for some reason `cmd.exe` isn't available in your search path? does typing `cmd.exe` work?

[2022-08-31 12:56] DaleyKD commented on #129
@weinong : That code also shows that it's getting the `%SYSTEMROOT%` directory. That resolves to `C:\WINDOWS` on all of my machines. That is NOT where `cmd.exe` lives. I would think it should be `%WINDIR%\system32` or `%COMSPEC%` (which is the full path to `cmd.exe`).

But to answer your question, yes, `cmd.exe` was in my search path (`%PATH%`). It is in `C:\windows\system32` which is in my `%PATH

[2022-09-03 03:59] aelij commented on #62
The device code flow is much less convenient than interactive browser, so please migrate.

Additionally, [ADAL has been deprecated](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-migration) and will no longer receive security updates:

[2022-09-05 12:50] Xaseron opened #131 "Unable to connect to the server: EOF"
I'm trying to use kubelogin non-interactively with SPN against a private AKS cluster.
I only get this disappoint error message:
`Unable to connect to the server: EOF`

[2022-09-06 20:34] weinong commented on #131
Hi @Xaseron typically I saw this kind of error due to network connectivity issue such as firewall misconfiguration. You can confirm by `curl -k -v` the apiserver fqdn or simply not use AAD/AzureRBAC.

[2022-09-06 21:49] weinong commented on #62
Hi @aelij, yes, completely agree with you. I'm ramping up a new hire on this project. Hopefully we can tackle it soon. Though, I'm curious to learn what "inconvenience" you are referring to?

[2022-09-07 08:27] aelij commented on #62
The fact that you have to copy the device code, open the browser, paste it and login, rather than having the browser simply open :)

[2022-09-08 12:03] Xaseron commented on #131
Yeah it was a firewall problem. But maybe enhance the loggin that is not problem with Azure AD but with the kubeapi server.

[2022-09-09 02:25] weinong commented on #131
@Xaseron you can use -v=5 or 7 to see the verbose log. I believe this EOF happened when it is connecting to kube apiserver. This is after kubelogin got the token. So there is no way kubelogin can indicate the firewall issue.

[2022-09-12 09:10] JiayangZhou commented on #102
Hi, I have done some more expermients where I executed a series of kubectl commands in a script in each scenario down below and noted down the processing time.

---
**OS: WIN11**
1. Without kubelogin, ` az aks get-credentials --name <cluster_name>  --resource-group <rg_name>`, around **7** seconds on average to finish.
2. With kubelogin, ` kubelogin convert-kubeconfig -l azurecli` about **30** sec

[2022-09-13 12:14] #131 closed

[2022-09-21 13:16] kpkool commented on #102
@JiayangZhou,

Can you please provide version for following please ?

1.	kubectl version --client
2.	kubelogin –version
3.	az version

-thanks,
KP

[2022-09-21 13:21] JiayangZhou commented on #102
Hi @kpkool

1. kubectl version --client
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildDate:"2021-09-15T21:38:50Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"windows/amd64"}
2. kubelogin --version
kubelogin version
git hash: v0.0.16/b61a6ef2b83d81e57b5ecc15d384b9da367f365e
Go version: g

[2022-09-22 22:34] weinong opened #134 "support client.authentication.k8s.io/v1"
currently kubelogin hardcodes to v1beta1

Requirements:
* when `KUBERNETES_EXEC_INFO` is absent, return v1beta1
* when `KUBERNETES_EXEC_INFO` is present and apiVersion is absent, return v1beta1
* when `KUBERNETES_EXEC_INFO` is present but apiVersion is neither v1 or v1beta1, return error
* when `KUBERNETES_EXEC_INFO` is present and apiVersion is either v1 or v1beta1, return the specified apiVersio

[2022-09-27 17:50] weinong commented on #134
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration

[2022-09-30 16:46] djsly commented on #79
@weinong do you know if we still need to request a migration for our subs or this is now fixed for all subs ?

[2022-10-05 14:39] tao-zhang-shell opened #136 "You must be logged in to the server (Unauthorized)"
SPN and certificate are used with kubelogin. Here is the kubeconfig after kubelogin exec plugin executed:

[code]

If I run any kubectl command, it gives me error '**You must be logged in to the server (Unauthorized)**'.

The strange thing is, if I run **kubelogin get-token** locally with the same arguments, I'm able to get the token.

A cluster role binding is already created in the cluster, and

[2022-10-05 19:33] tao-zhang-shell commented on #136
Thank you @weinong, the requested information has been sent to you.

[2022-10-06 00:20] mpowrie commented on #90
Hi. Winget now supports standalone executables. https://github.com/microsoft/winget-cli/pull/2233

[2022-10-06 08:43] tao-zhang-shell commented on #136
It turns out the SPN is under more than 200 AAD groups. Thank you for the help @weinong !

[2022-10-06 08:43] #136 closed

[2022-10-10 17:15] kpkool commented on #102
@JiayangZhou ,

I would like to apologize for the late response, please rest assured that we are still working from our end to get a proper fix for this issue. That being said, these are the recommendations we get from the engineering team:

1) Please do not use kubelogin v0.0.16 which is it has been reported to have multiple issues.
    Please upgrade kubelogin to the latest version. ([Releases ·

[2022-10-11 07:49] kkizer commented on #104
Thanks, but my day ended at 4 pm EDT. Please cut the release and we can
test tomorrow. I can't just take an executable: I will need to get it
loaded into our corporate Artifactory repository. Please be sure to note
new/changed options in the release notes. Thank you very much for your
support on this issue.

On Mon, Jul 18, 2022, 4:16 PM Weinong Wang ***@***.***> wrote:

[2022-10-11 09:14] kkizer commented on #104
Great! So we would be able to specify the token cache dir on the
kubelogin convert-kubeconfig command? If true, that would be a simple
thing for us to define in our pipelines.

When would a new kubelogin be available that has this fix?

Regards,
Kevin Kizer

On Mon, Jul 18, 2022 at 12:15 PM Weinong Wang ***@***.***> wrote:

[2022-10-11 09:43] antoineozenne opened #137 "Invalidate token when `az logout`"
The access token in `~/.kube/cache/kubelogin` is valid for 1 hour and is not invalidated when we logout with the command `az logout`. My `kubelogin` command is configured with `--login azurecli`. So, if :
* I login as a user `A`: `az login -u A`
* I get an access token which is cached in `~/.kube/cache/kubelogin`.
* I logout: `az logout`
* I login as a user `B`: `az login -u B`
* I have the access

[2022-10-11 15:56] weinong commented on #90
https://github.com/microsoft/winget-pkgs/pull/83157

however, it requires winget 1.4 as it uses nested portable installer...

[2022-10-11 21:33] weinong commented on #137
i think we can [disable token cache](https://github.com/Azure/kubelogin/blob/master/pkg/token/execCredentialPlugin.go#L37) in azurecli mode.

[2022-10-11 21:45] weinong commented on #104
@kkizer the latest v0.0.20 has this change

[2022-10-11 22:24] weinong commented on #90
confirmed with the maintainer. my PR requires winget 1.4 to support nested portable installer. I'm marking the PR as Draft and leaving it open till 1.4 is out.

[2022-10-17 17:21] CodyBN opened #139 "error: unknown shorthand flag: 'l' in -l"
When I attempt to use kubelogin convert-kubeconfig -l azurecli I get the error: unknown shorthand flag: 'l' in -l

[2022-10-17 20:24] weinong commented on #139
@codyBN, what is your kubelogin version?

[2022-10-17 21:53] CodyBN commented on #139
@weinong

 kubelogin version
kubelogin version  (go1.18.5 windows_amd64)

[2022-10-17 22:13] CodyBN commented on #139
@weinong

I have resolved the issue.

For anyone else that may have this problem. I think at some point I have installed this before through chocolatey and forgot.
I ran the install again with
**az aks install-cli**
set paths etc.

To fix this, I deleted the choco install, moved my kubelogin.exe to the same directory as kubectl, cleaned up my environment paths. (Now has the one path to users/{your

[2022-10-17 22:20] #139 closed

[2022-10-18 08:14] wshamroukh opened #141 "Error parsing /usr/local/bin/kubelogin ('utf-8' codec can't decode byte 0xa0 in position 24: invalid start byte)"
when running the command `az aks get-credentials -g aks-demo -n waddahaks` i get the following error:

`Error parsing /usr/local/bin/kubelogin ('utf-8' codec can't decode byte 0xa0 in position 24: invalid start byte)
`

and when i run the command `kubectl get pod` i get the following error:

`error: error loading config file "/usr/local/bin/kubelogin": yaml: control characters are not allowed
`

[2022-10-19 21:23] weinong commented on #141
what was your command to install `kubelogin`?

[2022-10-20 02:29] extravio opened #143 "AKS upgrade to 1.24.6 - Terraform provider issue"
We're deploying app to AKS through azure pipelines and Terraform.
Everything was working well on AKS 1.23 (**with local accounts disabled** )

The following tasks are executed in the pipeline to authenticate using az cli + kubelogin convert-kubeconfig -l azurecli

[code]

The Terraform provider is configured as below:
(the AKS cluster is defined as a data source)

[code]

After upgrading to AKS 1.

[2022-10-20 02:47] extravio commented on #143
Not a kubelogin issue.
Fixed by upgrading the azurerm terraform provider.
For reference: https://github.com/hashicorp/terraform-provider-azurerm/issues/17182

[2022-10-20 02:47] #143 closed

[2022-10-20 22:22] VF-mbrauer opened #144 "Security Groups are not part of the token"
The access token, which comes back does not contain groups
[code]
Is that feature missing or does it needs to be queried additionally with another API Permission?
- https://graph.microsoft.com/Directory.Read.All

[2022-10-25 22:43] weinong commented on #144
does your token contain [overage claim](https://learn.microsoft.com/en-us/azure/active-directory/develop/id-tokens#groups-overage-claim)? If so, that means you have more than 200 groups. If you are using AKS, it won't be a problem. But if you are using self-managed k8s, you will need to configure api-server with authentication webhook like https://github.com/kubeguard/guard

[2022-10-26 08:57] JiayangZhou commented on #102
Thank you @kpkool for following up.

We are using the latest kubelogin version and our team is still experiencing significant slowness on Windows. Plus, we have upgraded our AKS to 1.24.X from 1.22.X

There is a kubelogin folder under .kube\cache, some people don't have a kubelogin folder, and some people do have kubelogin folder with a AzurePublicCloud token.

We run a couple of kubelogin command

[2022-10-26 15:48] smorenburg opened #146 "Network connection unusable when using kubelogin"
Hi, I've been trying to work with kubelogin because the warning message drives me crazy.
Whenever I convert my kubeconfig file and try to log in using device code authentication, I receive timeouts, and my network connection becomes unusable. When connecting without kubelogin, everything works, but I get the warning message with every kubectl command.

I'm running on a Mac with an Apple Silicon pr

[2022-10-26 20:39] smorenburg commented on #146
The issue was related to the connection and DNS.

[2022-10-26 20:39] #146 closed

[2022-10-27 11:14] clry-ida opened #147 "Workload identity is not supported anymore"
Documentation and examples include "workloadidentity" as a parameter for federated credentials, however, when using this the following error is displayed:

`Error: 'workloadidentity' is not a supported login method. Supported method is one of devicecode,spn,ropc,msi,azurecli`

[2022-10-27 17:28] weinong commented on #147
your version may be too old?

[2022-10-28 05:00] weinong commented on #62
https://github.com/Azure/azure-sdk-for-go/issues/16643

[2022-10-28 08:47] clry-ida commented on #147
You're correct. I thought I had the newest version.. I didn't.

[2022-10-28 08:47] #147 closed

[2022-10-28 17:20] weinong commented on #144
please reopen if it's unclear

[2022-10-28 17:20] #144 closed

[2022-10-28 17:21] weinong commented on #141
please reopen with your installation/repro steps

[2022-10-28 17:21] #141 closed

[2022-11-03 09:45] MBurchard opened #148 "ArgumentError: user %n doesn't exist"
During installation on MacOs using brew the following error is shown:

[code]

[2022-11-05 02:08] weinong commented on #148
is your `$USER` env var set correctly?

[2022-11-05 09:29] MBurchard commented on #148
It looks lik it's not.
`printenv` shows `USER=%n`
I don't know, which process set it.
My Mac is less than two weeks old. I have installed the typical tools, like homebrew, nvm, azure-cli and kubectl.
No other tool, process or programm comlains about `$USER`.
So USER should have the same value like LOGNAME?
If the kubelogin plugin absolutely needs `$USER`, you might want to document that as well in

[2022-11-06 00:38] weinong commented on #148
you will need to make inquiry on homebrew-core, https://github.com/Homebrew/homebrew-core, as this is not a kubelogin issue

[2022-11-06 00:38] #148 closed

[2022-11-10 01:24] #134 closed

[2022-11-11 17:28] #92 closed

[2022-11-15 06:32] twendt opened #149 "`kubelogin convert-kubeconfig --kubeconfig` deletes default kubeconfig"
When `kubelogin convert-kubeconfig` is run with the `--kubeconfig` parameter then it deletes all entries in the default kubeconfig in `~/.kube/config`.

[2022-11-15 20:31] yurrriq opened #150 "v0.0.21 seems to break the use case when KUBERNETES_EXEC_INFO is empty"
It seems that since https://github.com/Azure/kubelogin/pull/145, `KUBERNETES_EXEC_INFO` is now required. My v0.0.20 workflow now fails with the following.

[code]

[code]

[2022-11-15 21:18] weinong commented on #150
@yurrriq what is the version of your kubectl?

[2022-11-15 22:07] weinong commented on #149
what version of kubelogin do you use?

[2022-11-16 00:30] ITHedgeHog commented on #150
@weinong This is happening to me, output from our GitHub action below:

`Run az aks install-cli
WARNING: The detected arch is , would be treated as amd64, which may not match the actual situation due to translation and other reasons. If there is any problem, please download the appropriate binary by yourself.
WARNING: Downloading client to "/usr/local/bin/kubectl" from "https://storage.googleapis.

[2022-11-16 00:35] carlin-q-scott commented on #20
@sergeidavydov As mentioned by several people in this thread, AzureCLI@2 runs `az account clear` at the end of the task, which invalidates the login session that was exported by kubelogin.

[2022-11-16 02:02] weinong commented on #150
@ITHedgeHog , how did you use kubelogin, though? kubectl should have set `KUBERNETES_EXEC_INFO`. While we are fixing this, I'm just curious about how you use it

[2022-11-16 02:32] weinong commented on #137
fixed in `v0.0.20`

[2022-11-16 02:32] #137 closed

[2022-11-16 06:02] ITHedgeHog commented on #150
This is how we invoke kubelogin `kubelogin convert-kubeconfig convert-kubeconfig -l azurecli`

Then we just issue kubectl commands.

[2022-11-16 17:25] weinong commented on #150
@ITHedgeHog Interesting, I was unable to repro it. Well, it's fixed in v0.0.22. Please give it a try!

[2022-11-16 21:51] ITHedgeHog commented on #150
Thanks, I'll update one of our Actions and give it a test.

[2022-11-16 23:29] wiceywkus commented on #150
Using Azure Kubelogin v0.0.22 with this user config:
`
- name: john.doe
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args:
      - get-token
      - --server-id
      - <serverguid>
      - --client-id
      - <clientidguid>
      - --tenant-id
      - <tenantidguid>
      - --environment
      - AzurePublicCloud
      - --legacy
      command: kubelogin
      env

[2022-11-17 00:03] weinong commented on #150
@wiceywkus what is your kubectl version?

[2022-11-17 02:31] wiceywkus commented on #150
[code]

[2022-11-17 16:34] yurrriq commented on #150
1.25.3 via https://github.com/NixOS/nixpkgs/blob/7f9be6a505a31f88499c5d20d11f98accf5ae6ba/pkgs/applications/networking/cluster/kubernetes/kubectl.nix

I have never had any value set for `KUBERNETES_EXEC_INFO` and I'm not sure how the `kubectl` binary is expected to change that.

[2022-11-17 17:46] weinong commented on #150
@yurrriq your issue should be resolved by v0.0.22 release. give that a try. That being said, kubectl would have set `KUBERNETES_EXEC_INFO` env var. you may need to look into why your build acts differently than upstream kubectl

[2022-11-17 19:19] everjing commented on #150
@wiceywkus This issue is caused by using kubectl versions below 1.22.0, where "interactiveMode" is always set to "false" regardless of what you have configured. Upgrading to 1.22.0 or above will work and please let us know if you are able to do so or not. Also, we plan to change from failing directly to printing out warning first and then providing instructions for users to upgrade to 1.22.0 versi

[2022-11-17 21:12] wiceywkus commented on #150
Thank you @everjing.  kubectl v1.22.15 + kubelogin v.0.0.22 work as you stated.  Thank you!

[2022-11-17 22:12] everjing commented on #150
@wiceywkus You are very welcome :) Thanks a lot for sharing your experience to help us make kubelogin more robust and efficient. Feel free to bring up comments/issues/concerns/suggestions anytime!

[2022-11-18 05:00] trentmillar opened #153 "az aks install-cli is failing because of dead release"
A new release was just created but the action failed to push the binaries into it, https://github.com/Azure/kubelogin/actions/runs/3494235530

`az aks install-cli` see's the latest release and expects the binaries to be there, which they are not.

If this is going to take a while can you just delete the release __0.0.23__?

Here's the error,
[code]

[2022-11-18 05:03] weinong commented on #153
the build step in publishing the artifact is always flaky. I'm sorry you are caught right when i cut a new release :(

[2022-11-18 05:10] weinong commented on #153
artifacts are published this time!
https://github.com/Azure/kubelogin/releases/tag/v0.0.23

[2022-11-18 05:10] #153 closed

[2022-11-18 16:54] everjing commented on #150
@wiceywkus FYI kubelogin v.0.0.23 is released, which solves this issue for users whose kubectl versions below 1.22 without necessity to upgrade. Feel free to choose whatever version of kubectl you prefer and give it a try!

[2022-11-18 17:28] wiceywkus commented on #150
Oh the things you do for me... (flattered)
FYI, with Azure Kubelogin v0.0.23, I regression tested:
kubectl v1.20.15
kubectl v1.21.14
kubectl v1.22.15
All good with existing tokens.  I did not have to re-device login.
I re-tested the Device Code Flow with v1.20.15.
Looks good to me.

[2022-11-18 18:26] wiceywkus commented on #150
So (pressing my luck), with the success above behind me, I moved onto OpenLens v6.2.0 (https://github.com/lensapp/lens/tree/v6.2.0) and now get:
[code]
Looks familiar.
OpenLens uses `"@kubernetes/client-node": "^0.17.1"`, which is this one: https://www.npmjs.com/package/@kubernetes/client-node?activeTab=readme.

Should the compatibility support that is in v0.0.23 work with the Kubernetes JavaScrip

[2022-11-18 18:30] weinong commented on #150
@wiceywkus even if you add `interactiveMode: IfAvailable`? seems like a bug in client-node

[2022-11-18 18:33] wiceywkus commented on #150
Let me check.
If I fall back to Kubelogin v0.0.20, it is ok.

[2022-11-18 18:34] weinong commented on #150
@wiceywkus with v0.0.23, can you add -v=10 in get-token args in kubeconfig, it will print out the KUBENETES_EXEC_INFO env var

[2022-11-18 18:48] wiceywkus commented on #150
Yes, even with `interactiveMode: IfAvailable` it fails.
-v=10 output from kubectl:
[code]
That verbose output is not output by OpenLens by default.

[2022-11-18 18:52] weinong commented on #150
@wiceywkus if you cannot add verbose level, would it help if I provide a private build for debugging? if so, is it linux amd64?

[2022-11-18 19:04] wiceywkus commented on #150
OpenLens embeds binaries
Kubectl:
`Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.3", GitCommit:"816c97ab8cff8a1c72eccca1026f7820e93e0d25", GitTreeState:"clean", BuildDate:"2022-01-25T21:25:17Z", GoVersion:"go1.17.6", Compiler:"gc", Platform:"windows/amd64"}
`
lens-k8s-proxy included is here: https://github.com/lensapp/lens-k8s-proxy/tree/v0.2.1
`{"gitVersion":"v0.2.1","gitC

[2022-11-18 19:28] weinong commented on #150
you can download from this link: `https://kubelogintest.blob.core.windows.net/container/kubelogin.exe?sp=r&st=2022-11-18T19:25:59Z&se=2022-11-21T03:25:59Z&spr=https&sv=2021-06-08&sr=b&sig=1QRDBvC0A4PbLtQd0D6PbBfgcJZBRHhtB2dC97EQuhU%3D` let me know what it prints out

[2022-11-18 19:34] wiceywkus commented on #150
output:
[code]

[2022-11-18 19:35] wiceywkus commented on #150
Line 3 in my kubeconfig is:
`- cluster:`

[2022-11-18 19:36] weinong commented on #150
is this the failing one? it looks like a working one

[2022-11-18 19:37] wiceywkus commented on #150
If I replace kubelogin v0.0.23 with the debug version, then it aborts:
`Unable to connect to the server: getting credentials: decoding stdout: yaml: line 3: could not find expected ':'`

[2022-11-18 19:38] weinong commented on #150
oh crap, i printed that to stdout, which is why. let me rebuild it.

[2022-11-18 19:44] weinong commented on #150
try this again: `https://kubelogintest.blob.core.windows.net/container/kubelogin.exe?sp=r&st=2022-11-18T19:42:57Z&se=2022-11-21T03:42:57Z&spr=https&sv=2021-06-08&sr=b&sig=AZL0dgvlc%2BYu9ATp066GCKt7fILVkIpxgyrpzxoXfOY%3D`

[2022-11-18 20:00] wiceywkus commented on #150
kubectl execution successful:
[code]
same output with OpenLens' embedded kubectl version
with OpenLens running, I get:
[code]

[2022-11-18 20:39] weinong commented on #150
i think i

[2022-11-18 20:48] wiceywkus commented on #150
The OpenLens "Kubernetes Client" is running in a proxy inside NodeJS (lens-k8s-proxy).  So, in its context, no it is not interactive.  But then how will it work?
BTW: Kubelogin v0.0.20 works.

[2022-11-18 22:03] weinong commented on #150
@wiceywkus so you are saying you have been relying on lens-k8s-proxy to put the token in the cache?

[2022-11-18 22:06] weinong commented on #150
v0.0.20 works because we added this extra check since v0.0.21. I reverted this change and will cut a new release soon.

[2022-11-19 00:19] #150 closed

[2022-11-22 12:32] Herrmlo opened #159 "Support for separate users in same client"
**Scenario:**
I have two clusters in the same tenant, different subscriptions.
I have a separate account for each cluster with no permissions for the other cluster.
I'm just getting the credentials via ` az aks get-credentials` and then using Device code flow or Azure CLI token login but it ended in the same issue.

**Issue:**
The account for whatever cluster I add first is used for all clusters.

[2022-11-22 16:07] davidharkis commented on #20
https://github.com/Azure/kubelogin/pull/142 has blocked some workarounds discussed here.

Following on from the existing AzureCLI@2 task logic mentioned above by @carlin-q-scott, you can no longer run a separate kubelogin task, followed by one or more another generic tasks using running kubectl commands or tasks like HelmDeploy@0 with connectionType: 'None'

[2022-11-22 16:32] wiceywkus opened #160 "Suggestions for TokenCacheDir defaults and overrides"
2 ideas:

1. DefaultTokenCacheDir = KUBECONFIGdir + '/cache/kubelogin/', rather than '/.kube'.  This way all the config and login data is relative to the kubeconfig location
2. support an environment variable override like KUBELOGIN_CACHE_DIR

[2022-11-22 18:58] weinong commented on #160
@wiceywkus the only logins that use cache is devicecode and ropc, and I suppose you are using devicecode. Have you considered `azurecli`? that is a better option and has better security in terms of caching.

[2022-11-22 19:28] wiceywkus commented on #160
Our solution is not in Azure.  We are in AWS. Our AD is Azure AD.

[2022-11-22 22:59] carlin-q-scott commented on #20
I made and published a template based on the information contained in this issue:
https://github.com/carlin-q-scott/azure-devops-pipeline-templates/blob/main/steps/kubectl.yml

My [readme](https://github.com/carlin-q-scott/azure-devops-pipeline-templates) includes instructions on using it.

[2022-11-23 01:07] weinong commented on #160
stepping back a bit. what do these ideas help accomplish?

[2022-11-23 01:21] weinong commented on #159
First of all, we removed token caching behavior from `azurecli` login to address #137 since v0.0.21.

I think the root of the issue is that you are sharing multiple users using the same environment. The CLI, regardless of az or kubelogin, needs a hint (`az logout` or `kubelogin remove-tokens`) in between these different users. I don't see how a better seamless integration can be achieved?

[2022-11-23 09:29] Herrmlo commented on #159
As I can be logged in with multiple users in the az cli I hoped that either kubelogin could notice which one has permissions (it seemed to behave like this when I was not using kubelogin yet in older az cli versions, where as long as I was logged in with both users I had access to both clusters) or give me a way to define which user should be used.

[2022-11-24 08:56] ovie91 opened #161 "Unable to connect to the server: getting credentials: exec: executable kubelogin not found"
Hi,

I have specific case where kubelogin with kubectl doesn't work as suppose,

whoe login process works fine on the personal laptop however **doesn't work in the ADO pipeline**
error that we are getting is:

[code]

pipeline commands using AzureCLI@2:
[code]

kubectl is throwing mentioned error, version of kubectl on the ADO agent (ubunut-latest hosted by MS):
[code]

Any ideas what could be wro